[2017-09-16 06:38] codermrrob commented on #332
I am getting exactly the same issue. A simple InsertOne or InsertOneAsync always results in "Unknown server error" (is that an unknown server or an unknown error on the server - great error message!).

Same error from Robo 3T.

Same code works perfectly when writing to local MongoDb just not to the local Cosmos db emulator.

I can insert with the browser based emulator Explorer but I suspect it do

[2017-09-17 05:02] rnagpal commented on #344
@SeanFeldman DocumentDB Client SDK has a .NET Standard version which we released last year https://docs.microsoft.com/en-us/azure/cosmos-db/documentdb-sdk-dotnet-core As Kiran mentioned, we would be releasing .NET Standard for Premium Table SDK in the near future.

[2017-09-17 05:09] SeanFeldman commented on #344
Thank you @rnagpal. I was specifically asking about Tables API 🙂
Will track this issue for progresses.

[2017-09-17 05:18] rnagpal commented on #341
@karimmansour92 As Brandon mentioned, these are first chance exceptions and shouldn't be thrown to your application. This does increases the latency slightly but not in the order of secs that you are seeing. Please make sure you are following all performance tips here https://docs.microsoft.com/en-us/azure/cosmos-db/performance-tips If it still doesn't help please send email to askcosmosdb @ Micro

[2017-09-17 22:06] digitalfuller commented on #340
@kirankumarkolli No, but I'll give it a go using that and see if I get the same results.

[2017-09-17 23:56] rnagpal commented on #127
We now support .targetting .Net Standard 1.5 and 1.6. Details
https://docs.microsoft.com/en-us/azure/cosmos-db/documentdb-sdk-dotnet-core

[2017-09-18 03:17] karimmansour92 commented on #341
Thank you both for your replies.

@bchong95 Correct. The full exception I'm seeing is:
`{{
  "code": "BadRequest",
  "message": "Cross partition query with TOP/ORDER BY or aggregate functions is not supported.\r\nActivityId: 43fd4fb5-8792-45e5-9aa0-8a66a1ee841b",
  "additionalErrorInfo": "{\"partitionedQueryExecutionInfoVersion\":2,\"queryInfo\":{\"top\":null,\"orderBy\":[],\"orderByExpressions\":

[2017-09-18 17:22] jayantacs commented on #338
Hi @bartdotnet

1.	Our output format is GraphSon when you query the system via gremlin API (like other tinkerpo-enabled graphs)
2.	However, that doesn’t mean that we store the graph in the same GraphSON format. In fact, the storage model to adhere to GraphSON may have significant scale limitation.
a.	E.g., GraphSon format requires to store the edges of a vertex in the same document. This will caus

[2017-09-18 17:36] bartdotnet commented on #338
Hi @jayantacs,

Thanks again for the feedback. My intention was to examine Cosmos Graph bulkload via Document DB.

In understand GraphSON is only a representational format, not an internal one - for reason of performance -.

I am happy to see a Bulk load API is on the close horizon and will await for its arrival.

Regards,
Bart Debersaques,

[2017-09-18 17:36] #338 closed

[2017-09-18 20:20] kirankumarkolli commented on #343
For now the workaround is to leverage GetDynamicMemberNames() API.

Adding this as backlog to consider this as first class support in future releases.

[2017-09-18 20:25] kirankumarkolli opened #345 "Unified nuget package supporting multi targetting"
Provide a single nuget package enabling multi targetting (Fx, core).

[2017-09-19 13:11] surenderssm commented on #227
is there any ETA for this ?

[2017-09-19 13:31] surenderssm commented on #227
CreateDocumentCollectionIfNotExistsAsync is also one of the missing action!

[2017-09-19 17:48] jonnovaretti opened #346 "Change json serializer to another serializer"
Hi,

Is there a way to change Json.Net to another serializer framework?

Thank you
Jonathan Novaretti

[2017-09-21 01:18] fabiomaulo opened #347 "QueryResult does not expose null values"
![inspectingqueryresult](https://user-images.githubusercontent.com/125039/30674517-40e4abc4-9e51-11e7-83ae-b9d6fb4d18c9.PNG)

But the document is
![infoindb](https://user-images.githubusercontent.com/125039/30674537-5709083c-9e51-11e7-9f58-8939582e6c81.PNG)
As you know null !=='undefined' and, this time, this issue is blocking us

[2017-09-21 11:46] RobertoPrevato opened #348 "Use specialized exceptions instead of DocumentClientException everywhere"
Hi,
This is just a recommendation, a request for improvement.

Currently, all exceptions are handled using the same class: **DocumentClientException**. In order to understand the true nature of an exception, when using try-catch, is necessary to check the Message string property.

For example, to detect an exception thrown when a database doesn't exist:
[code]

To detect an exception thrown when a

[2017-09-21 12:09] ealsur commented on #347
Are you using custom Json serialization? What type of attributes are `shipping_id` and `pickup_id`? Are they `string` or `int?`?
[NullValueHandling](https://www.newtonsoft.com/json/help/html/T_Newtonsoft_Json_NullValueHandling.htm) can serialize force the deserialization of null values I believe.

Queries to the service return all attributes (even those that are null) so it sounds like its a matte

[2017-09-21 12:32] mtrax commented on #260
+1

[2017-09-21 12:41] mtrax opened #349 "Cosmos MongoDB $rename is not supported"
`Mongo Server error (MongoCommandException): Command failed with error 115: 'Command is not supported'`

I tried to move from MongoDB to CosmosDB and realized that $rename is not supported but that's a pretty basic feature and of course $group is missing too, see here #234. In my case, after a version upgrade of Hangfire this step failed.

Regards Mario

[2017-09-21 13:31] fabiomaulo commented on #347
This was the workaround
`o => (string)(o.shipping_id) != null,`
The original (not working) implementation was
`o => o.shipping_id != null,`
In practice we have to use an explicit cast to _something_ .

[2017-09-21 13:46] #260 closed

[2017-09-22 03:48] digitalfuller commented on #340
I had some issues running the benchmark sample against my collection.

The connection policy did not work from our corporate network so I'm using ConnectionMode.Gateway and Protocol.Https.

Also, the code assumes that the provisioned RUs are at least > 1000 in order to determine the number of Tasks to run (comment in the code is ```// set TaskCount = 10 for each 10k RUs```. I modified the code to

[2017-09-24 12:55] grahamehorner opened #350 "Paging"
Please consider allowing server side paging; using linq skip operation and/or all the collecting continuation tokens of a query to allow jumping to a given page.

[2017-09-24 18:47] jeffa00 commented on #328
Exactly the problem I'm having. Any word on this? Seems like the JsonProperty should be respected in this instance when generating the query from the linq construct.

[2017-09-24 19:02] trailmax commented on #328
@jeffa00  I gave up on JsonProperty and all my objects now have lowercase `id`. Issue seems to be related to #317

[2017-09-24 19:15] jeffa00 commented on #328
@trailmax Thanks. I considered that myself, but of course if feels really dirty... :-)

I'm working on a new product and would love to use Cosmos DB/Document DB, but I think I'm going to go back to SQL Server for this one and try again later.

Without SKIP available AND the Id/id issue, I'm thinking SQL will work with fewer workarounds...

[2017-09-24 19:20] trailmax commented on #328
@jeffa00 I found it hard to switch mentality from SQL Server to CosmosDB - if you persist with CosmosDB, you'll find a lot of stuff that you are used to be able to do in SQL Server, but does not work/exist in CosmosDB. Also backups with CosmosDB are painful....

[2017-09-25 13:00] rnagpal commented on #341
@karimmansour92 You are probably running into this issue:

https://blogs.msdn.microsoft.com/devops/2015/02/23/performance-improvement-when-debugging-net-code-with-visual-studio-2015/

Try checking "Enable Just My Code' as shown in https://msdn.microsoft.com/en-us/library/dn457346.aspx and let me know if that helps.

[2017-09-25 13:41] PeterStephenson opened #351 "JsonSerializerSettings when specified in constructor do not appear to be universally used."
# Issue
We require to change the JsonSerializerSettings as we are storing an object where the instance type differs from the declared type (i.e. we need to set `TypeNameHandling = TypeNameHandling.Auto`)

When setting this through the constructor, the document is written with the `$type` specified however it does not appear to Deserialize using the setting.

# Workaround
We have found that setting

[2017-09-26 05:21] ashwini-ms commented on #315
@bartdotnet and @dimoibiehg , expected ETA for the fix is the end of next week.

[2017-09-26 06:18] joopscheer commented on #330
Yes. To get to the next results the token is added to a link in my web app. The web app runs on Azure. Azure has a max url length of 2048.

[2017-09-26 08:17] SStoyanov1 commented on #185
+1 for @nftw answer. The emulator simply does not work locally with Direct ConnectionMode. Seems like a bug.

[2017-09-26 13:23] joopscheer commented on #284
I'm having similar issues. My development environment is on macOS and the emulator runs on a Windows VM with network access. Before High Sierra I could add the self-signed certificate to the macOS certificate store. With High Sierra this no longer works. Any idea what the timeline is on this issue? In the meantime, have others fixed the certificate issue on macOS?

[2017-09-26 18:37] SeanFeldman opened #352 "Storage Tables client and CosmosDB Table API client Nuget packages"
Currently, Tables Storage is positioned in the following way

For Standard Azure Table Storage, there's a client: [WindowsAzure.Storage](https://www.nuget.org/packages/WindowsAzure.Storage).
For Premium Tables for Azure Table Storage (not as bad as .NET Core release names, but still mouthful) there's another client: [WindowsAzure.Storage-PremiumTable](https://www.nuget.org/packages/WindowsAzure.St

[2017-09-27 06:31] tomkerkhove commented on #352
Agreeing with @SeanFeldman on this

[2017-09-27 07:45] rikard-engstrom commented on #219
+1

[2017-09-27 07:50] rikard-engstrom commented on #328
Contains works fine.

My id-property looks like this

[JsonProperty("id")]
public string Id { get; set; }

[2017-09-28 03:48] karimmansour92 commented on #341
Thanks Rajesh, that was it.

[2017-09-28 03:48] #341 closed

[2017-09-28 07:48] northtyphoon commented on #219
+1 I also noticed ~1000ms performance penalty associated with the exception.

[2017-09-28 18:11] wtodd commented on #208
This really needs to be fixed.  Are there any updates at all on this?

[2017-09-28 19:26] wtodd commented on #246
Any updates on this?

[2017-09-29 00:43] Tadimsky opened #353 "ComosDB Emulator does not start on machine"
When I run the local emulator, I just get the notification that it's starting and then it shows me this:
![image](https://user-images.githubusercontent.com/1149244/30996247-430d0f94-a474-11e7-8459-74e0fc9e1838.png)
In Event Viewer I get this:

Any ideas what could be going wrong?

[2017-09-29 18:43] ashwini-ms commented on #316
We are working on the fix for #3 and should be resolved by the end of October.

[2017-09-29 18:44] ashwini-ms commented on #300
We are looking into the issue. ETA: end of this year.

[2017-09-29 20:55] dotsad opened #355 "ConvertGremlinToGraphTraversalCode function changes property value through regex"
Microsoft.Azure.Graphs.Common.TraversalScriptUtilities has a ConvertGremlinToGraphTraversalCode function that changes a value of the property through regex.

We use Azure KeyVault to encrypt an email value and store it in cosmosDB

Example `"g.addV('Person').property('Email', 'Ht3c+sgUU5yIKZ2fsj7aP7cP+eVTn9jCSOesS3jmcfLwpFzf4g2EbgzIaPjuHS7vHLPl0RCU+sKCi6DqG2eHhi76ivvbufBOkTixkC+iDGm67ImZFTZln6chAY

[2017-09-30 21:06] gjspaho commented on #349
The same here, any plan when this might get fixed.

[2017-10-02 19:15] jackbond commented on #312
@kirankumarkolli

I've recreated this problem NOT using Service Fabric and using PackageReferences (as opposed to packages.config) Can you please reopen this issue? Here's a minimal solution that reproduces the problem.
[repro.zip](https://github.com/Azure/azure-documentdb-dotnet/files/1350053/repro.zip)

[2017-10-03 04:44] sivethe commented on #349
@mtrax @gjspaho We now support "aggregation pipeline" functionality in private preview mode (more details at https://feedback.azure.com/forums/599059-azure-cosmos-db-mongodb-api/suggestions/19449010-aggregation-pipeline)

Regarding $rename, we will work on adding support for it asap. In general, please file all feedback items for MongoDB api at https://feedback.azure.com/forums/599059-azure-cosmos

[2017-10-03 18:43] Blackbaud-PeteLukich commented on #335
@dewanymca @rnagpal - what was the solution here?  my team is seeing the same issue, doing writes via SP's...

[2017-10-04 11:57] bartdotnet commented on #355
in my opnion this is a regression bug

[2017-10-04 12:04] bartdotnet commented on #355
is this a regression of following issue? https://github.com/Azure/azure-documentdb-dotnet/issues/280

[2017-10-04 17:26] kieronlanning opened #356 "Azure DocumentDb Client Resolving Emulator to incorrect IP"
Trying to connect to the DocumentDb emulator when Docker is installed is resolving to Docker's IP address, not the standalone emulator so not connecting.

The app is a .NET Core 1.1 app using DocumentDb.Core v1.5.1.

I'm trying to connect to localhost, but the client is resolving it to 10.0.75.1, which is a Docker IP.

Pinging localhost is resolving to 127.0.0.1.

I've including screen shots showi

[2017-10-05 01:40] Tadimsky commented on #117
Having the same issue... Any updates on this? @rnagpal

[2017-10-05 04:44] digitalfuller commented on #340
I can reproduce the error described with this application:
https://github.com/digitalfuller/Azure-DocumentDb-ThrottleTest

[2017-10-05 20:37] kawazoe commented on #295
We're having the same issue in my project and @CANUSA, your bet was right! Still no fix in the latest version of the package.

[2017-10-06 01:28] jroselle commented on #317
I wanted to add to bfarrimo's comment by mentioning that JsonProperty attribute also does not work on inherited class properties with the override modifier.

[2017-10-06 21:27] dzrhythm opened #361 "Microsoft.Azure.Graphs SDK 0.3.0 built for AMD64"
The latest 0.3.0 release for the Microsoft.Azure.Graphs SDK appears to target the AMD64 processor. The .net standard version will not run in Azure App Services and the net461 version won't even run locally for me, both due to BadImageFormatException.

Though the projects target "Any CPU", Visual Studio gives the warning:

Warning	MSB3270	There was a mismatch between the processor architecture of t

[2017-10-08 21:41] rnagpal commented on #335
This was a code issue. They were deleting the stored procedure after every call while other thread was trying to execute this. So this "resource not found" was actually due to the stored procedure not found(and not the document). We were able to fix this on their code.

[2017-10-08 21:41] #335 closed

[2017-10-09 08:46] declanmc opened #363 "Emulator running on local network throwing security error"
I have set up the Cosmos DB emulator to run on one of the Windows Server 2012 R2 VMs in our local network as described here.

I have exported the certificate from the server and imported to my client machine. When I call my api which connects to the emulator through postman I get the following error:

`WinHttpException: A security error occurred
System.Runtime.ExceptionServices.ExceptionDispatchIn

[2017-10-09 20:52] spelltwister commented on #201
Let us say that I have a netstandard lib that uses Microsoft.Azure.DocumentDB.Core.  I have a full framework unit test that references the netstandard lib which cannot install Microsoft.Azure.DocumentDB.Core, but installing Microsoft.Azure.DocumentDB gives a missing reference error where the test is looking for DocumentDB.Core.  Is there a way to use redirects or similar to get this to work?

[2017-10-10 16:24] jackbond opened #364 "Unable to load DLL"
I'm going to ask REALLY nicely why this is still broken in v1.5.1 of Microsoft.Azure.DocumentDB.Core

Here is a minimal solution that reproduces the problem,
[repro.zip](https://github.com/Azure/azure-documentdb-dotnet/files/1372641/repro.zip)

[2017-10-10 23:02] abrasat opened #366 "DocumentClient logging/debugging"
I have an application having problems accessing data from the CosmosDB emulator, by calling DocumentClient APIs. I was not able to identify the problem by debugging the client application in Visual Studio 2017.
Is it possible to activate logging inside the DocumentClient to see what is happening when the application calls methods from DocumentClient ?

[2017-10-10 23:21] tophallen commented on #351
The serialization settings also do not seem to be honored when generating queries.

If I create a query against a property `UserName` when I have a `CamelCasePropertyNamesContractResolver` for the contract resolver in my serialization settings, the query generated without explicitly specifying a `JsonPropertyAttribute` on the property will be

Which means I have a workaround - but it's annoying be

[2017-10-11 16:39] justinSelf commented on #317
I'm experiencing this issue with `ExecuteStoredProcedureAsync` as well. I've setup the client to use the CamelCasePropertyNamesContractResolver but the documents are still being serialized as Pascal.

[2017-10-11 17:42] kirankumarkolli commented on #312
Reopening it to investigate the issue.

[2017-10-12 08:26] kieronlanning commented on #183
@kirankumarkolli Is there a sample for this? I can't seem to get it working or find and docs that successfully combine either dynamic LINQ + typed LINQ or SqlQuerySpec + typed LINQ.

[2017-10-13 11:09] MovGP0 commented on #90
I guess the error message should be more explicit. instead of just telling `One of the specified inputs is invalid` it should be explicit which input value exactly is invalid.

[2017-10-16 21:09] jackbond commented on #312
@kirankumarkolli

Have you had any luck resolving this issue? This bug is preventing us from using the .netstandard version of the DocDb library, which in turn prevents us from migrating / converting some of our projects to either .netstandard or .netcore.

[2017-10-17 00:19] jackbond commented on #364
Package differences between Microsoft.Azure.DocumentDB and Microsoft.Azure.DocumentDB.Core. I used Nuget Package Explorer to generate the image below. Two questions.

1) Does the core version need the build targets section?
2) Is "win" as opposed to "win7-x64" a valid runtime identifier?

![packagedifferences](https://user-images.githubusercontent.com/2799232/31640852-adb9aa1c-b295-11e7-9cf4-b5b8c

[2017-10-17 00:43] kirankumarkolli commented on #364
@rnagpal can you look into this.

[2017-10-17 00:48] kirankumarkolli commented on #364
Repro project failing to load with below error

DocDbCoreRepro\DocDbCoreRepro.csproj : error  : The default XML namespace of the project must be the MSBuild XML namespace. If the project is authored in the MSBuild 2003 format, please add xmlns="http://schemas.microsoft.com/developer/msbuild/2003" to the <Project> element. If the project has been authored in the old 1.0 or 1.2 format, please conver

[2017-10-17 00:58] kirankumarkolli commented on #364
UnitTest seems trying to use Direct/Tcp mode in Standard/Core. Are you running this on x86 machine and running into issues?

The two x64 specific DLL's are optimizations used in query code paths. On non-x64 equivalent work will be done through Gateway.

[2017-10-17 01:12] jackbond commented on #364
I just downloaded the repro, and the project loaded fine, but I realized I had accidentally included our actual credentials in the project, so I had to delete it. I'll just re-uploaded the project (sans credentials).

I tried to create an absolute minimal project which would reproduce the problem, i.e. that the Core Nuget packages doesn't work with full framework projects. I could also create a mi

[2017-10-17 01:34] jackbond commented on #364
@kirankumarkolli

I ran the unit test in x86 and x64. The test completed succcessfully in x86 (not surprisingly, but sadly irrelevant to us as we run everything 64 bit.) When I switched to x64, I get the ServiceInterop.dll not found exception. It seems like there is a problem with the Nuget definition which prevents the Dll from being properly copied to the output directory when the full framework

[2017-10-17 01:36] jackbond commented on #364
@kirankumarkolli

The project uses PackageReferences, as opposed to packages.config, so it will only work with Visual Studio 2017 update 3 and higher.

[2017-10-17 16:57] kirankumarkolli commented on #364
@jackbond thanks for pointer on 2017 update3, will explore little more and shall get back to you.

[2017-10-17 17:14] MovGP0 opened #367 "Question: how to properly update an Document with an JsonPatchDocument"
I am wondering what the best way to patch an document is, when I want to preserve the `ETag`:

**Version 1**
[code]

**Version 2**
[code]

[2017-10-17 20:33] jackbond commented on #364
@kirankumarkolli

I created a new Nuget package with the native DLLs from Microsoft.Azure.DocumentDb.Core Nuget with the definitions included below and added it to my repro project. This resulted in the ServiceInterop and Spatial DLLs being properly copied to the output directory, and the tests no longer throw an exception. I'm not sure why the Core version of the Nuget doesn't include the .target

[2017-10-17 21:03] kirankumarkolli commented on #364
@jackbond  we are able to repro this with VS 2017 (15.3.5). This is only happening if core nuget is consumed in fx project. We are considering merging both nuget packages (fx & core) into a single one and that will address this scenario.

Just changing the project type to core (from fx) also will address this issue. Will this work for your scenario?

[2017-10-17 23:02] jackbond commented on #364
@kirankumarkolli As much as I'd like to convert all our projects to core, which is certainly our long term goal, that just isn't quite feasible. In the immediate short term, I could simply add my new Nuget with the two DLLs to our projects. Hopefully, you guys will have a single .netstandard nuget out soon. Ideally it would have no windows native dependencies at all. After all, we'd love to run cr

[2017-10-18 04:41] kirankumarkolli commented on #364
@jackbond on non-windows platforms the code doesn't depend on interop DLL's (it will fall back to Gateway mode), we can brief this logic based on existence rather. On including target file in core nuget, let us circle with nuget team and shall update this thread back.

[2017-10-18 04:57] kirankumarkolli commented on #367
@MovGP0 optimistic concurrency requires [RequestOptions.AccessCondition](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.documents.client.requestoptions.accesscondition?view=azure-dotnet#Microsoft_Azure_Documents_Client_RequestOptions_AccessCondition).

FYR Sample https://github.com/Azure/azure-documentdb-dotnet/blob/1b22cac61ef2b9eeae9ddadbd850e48f023abc54/samples/code-samples/Documen

[2017-10-18 04:59] kirankumarkolli commented on #352
@SeanFeldman totally agreed and we are working toward it. We will update on the names shortly.

[2017-10-18 05:00] kirankumarkolli commented on #351
@khdang could you please take a look?

[2017-10-18 06:30] apollak commented on #237
@ealsur Any update on this?

[2017-10-18 09:08] MovGP0 commented on #367
@kirankumarkolli  albeit your information is very useful, the question was a different one: how to keep the `ETag` when casting to a specific type.

The solution I have is to derive the POCO objects from the `Microsoft.Azure.Documents.Resource` class.

[2017-10-18 09:22] #367 closed

[2017-10-18 17:17] jackbond commented on #364
@kirankumarkolli It seems a little strange that Direct mode requires the utilization of a native library. Is it really doing something so amazingly optimized that can't be done in managed code? Or is this some sort of legacy relic? If so, it ought to be cleaned up in the core / standard versions. Same goes for the Spatial.Sql DLL. What does that "fall back" to non-windows platforms? Thanks again f

[2017-10-18 20:32] jackbond commented on #364
@kirankumarkolli I noticed you guys put out updated Nugets yesterday, so I updated the sample project, and did one other thing. I changed our project file from having a <RuntimeIdentifiers> section to <RuntimeIdentifier> and now the native DLLs are being properly copied to the output directory and everything is running great. Thanks for taking the time to look into this.

[2017-10-19 00:02] kirankumarkolli commented on #364
Am not able to address this with the <RuntimeIdentifier>, even included 'win7-x64'.
@jackbond could you please share your project file?

[2017-10-19 09:44] dagtveit opened #368 "Orderby returns 1 row while orderbydescending works"
Orderby returns 1 row while orderbydescending works. they both generate valid querys
SELECT * FROM root WHERE (root["type"] = "report") ORDER BY root["datoTs"] DESC
SELECT * FROM root WHERE (root["type"] = "report") ORDER BY root["datoTs"] ASC

But the order by returns 1 row only. while the orderbydescending works fine.
there is indexes on the collection cause i have a older site working on the sa

[2017-10-19 12:53] craigsmitham commented on #302
Any update on when this may be available?

[2017-10-19 13:36] ealsur commented on #302
@craigsmitham Work for it is coming along, will update this issue once package is released.

[2017-10-19 18:59] jackbond commented on #364
@kirankumarkolli Here you go...

[code]

[2017-10-19 20:14] khdang commented on #368
@bchong95 can you help to look at this issue?

[2017-10-20 00:44] nagytech opened #369 "Update changelog for v1.18.0"
Nuget and other sources specify that the v1.18.0 is the latest version, but no entry in the changelog.md file.

Can we get an update on what has changed since v1.17.0?

[2017-10-20 23:03] dotsad commented on #315
Can you update if this was fixed or not? Still having issues even with escaping quotes.

[2017-10-21 18:24] asosMikeGore commented on #364
Hi,

I also get this issue, but on a netcoreapp2.0 project.  Below is the project file:
[code]

This is making it difficult to migrate to .NET Core 2.0.  The current version of this was targeting .NET Core 1.1 and .NET 4.5.2 and was working fine (see https://github.com/ASOS/SimpleEventStore/blob/master/src/SimpleEventStore/SimpleEventStore.AzureDocumentDb.Tests/SimpleEventStore.AzureDocumentDb.Tes

[2017-10-22 04:21] asosMikeGore commented on #364
I was able to correct the issue above by moving my tests from XUnit to NUnit.  After that targeting .NET Core 2.0 worked fine - I can also still multi-target .NET 4.5.2 no problems.

[2017-10-24 18:16] Caldas commented on #194
Just to remember that MacOS and Docker environment still need support to Direct connection

[2017-10-24 19:06] kirankumarkolli commented on #369
@khdang  please update the change-log for 1.18.0

[2017-10-24 19:09] kirankumarkolli commented on #350
@grahamehorner thanks for the feedback. Could you please update below link with your feedback. https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/6350987--documentdb-allow-paging-skip-take

[2017-10-24 19:09] #350 closed

[2017-10-24 19:11] kirankumarkolli commented on #346
@jonnovaretti could you please share your scenario on how you are planning to use other frameworks? Can the same not be achieved through JSON.net?

[2017-10-24 19:44] dpfavand commented on #234
@sivethe any update on $unwind and $group now in Q4 2017? I've been very happy with CosmosDB but the lack of aggregate functions is an unexpected wall, particularly given that the docs indicate complete compatibility.

[2017-10-24 20:11] bchong95 commented on #368
The rest of the results might be in the following continuations of the query. Are you using the ExecuteNextAsync() pattern? If so you can wrap it in a "while documentQuery.HasMoreResults" loop and see of the rest of your documents are there.

[2017-10-25 03:34] chrisparkeronline opened #372 ""Entity with the specified id does not exist in the system." Azure Function"
Hi,

I receive a "Entity with the specified id does not exist in the system." when using the code bellow but only within a Azure Function in production. When I changed code to connect to my REST API, the same code within the Api works.

`_script = await _client.ReadDocumentAsync<Screenplay>(
                UriFactory.CreateDocumentUri( DatabaseId, CollectionId, myQueueItem.ScreenplayId ),

[2017-10-25 18:41] odinnou commented on #234
yep... "$group is not supported" is the reason why I'll migrate to another mongoDB Azure solution

[2017-10-25 19:32] PhaniJaddu opened #373 "Intermittent exception : Resource Not Found""
Hello Team,

Have  a web job which in turn run every day and delete the documents in a collection and insert the fresh data i.e document in a collection which are not partitioned . Have observed that i do not see any issue with process but some time i do get the below exception and data in the collection will be in corrupt state . Error message is not of much help and as am not using the partition

[2017-10-25 22:31] chrisparkeronline commented on #373
I'm having some what similar problem with what I posted yesterday. Mine is happening with a collection that is partitioned. Even when you provide the partition key and the id, you will still get that error in a web job/azure function.

[2017-10-26 04:13] sivethe commented on #234
@dpfavand @odinnou :  We now support $group/$unwind and most of the other aggregation pipeline operators in private preview (soon to be public preview).  Please follow the steps at https://feedback.azure.com/forums/599059-azure-cosmos-db-mongodb-api/suggestions/19449010-aggregation-pipeline to enable this feature on your account

[2017-10-26 19:56] kirankumarkolli commented on #369
Updated https://github.com/Azure/azure-documentdb-dotnet/blob/master/changelog.md

[2017-10-26 19:56] #369 closed

[2017-10-26 20:01] kirankumarkolli commented on #373
@PhaniJaddu are you enumerating the documents and then deleting them? Is it possible that parallel clients (web job instances) are trying to do the same and over-stepping on each other?

Also CosmosDB does support TTL (TileToLive) and evict item after the time. You can create documents with TTL aligned and this will be automatically taken care of.

[2017-10-26 20:14] kirankumarkolli commented on #372
null is handled differently in SDK. @chrisparkeronline please try 'Undefined.Value' as PartitionKey.

How is your REST API handling nulls?

[2017-10-26 20:53] ranouf opened #374 "New MultiLineString in Microsoft.Azure.Documents.Spatial"
Asp.net core 2.0
Microsoft.Azure.DocumentDB.Core 1.6.0

Hi,

I would like to create a new MultiLineString.
I can parse my GeoJson File, if it s a LineString I can convert my object to (LineString)object.
I tried to find an answer on the [MSDN](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.documents.spatial?view=azure-dotnet), but I didn find it.

But how to do the same with MultiLine

[2017-10-26 21:08] ranouf commented on #374
If I decompile the dll I can see the Class MultiLineString:

[code]

Why did Microsoft hide it?

[2017-10-26 22:08] ranouf commented on #374
I copy pasted the code from the dll.
 I tried to convert my object Geometry to my MultilineString like : `(MultilineString)o.Geometry`. It doesnt work because the namespaces are different.
I tried to clone the object but MultilineString is not marked as Serializable.
I tried to clone using a JsonSerializer:
[code]

But I have this error:
System.Runtime.Serialization.InvalidDataContractException: '

[2017-10-27 10:23] DaleBeckles commented on #185
I frequently travel on long-haul flights without a net connection and am unable to start Cosmos DB emulator on those occasions. Is there a workaround to requiring a net connection???

[2017-10-30 12:51] VincentK76 commented on #361
Fyi, this problem has been resolved in version 0.3.1-preview package.

[2017-10-30 15:16] ranouf commented on #374
Still need some help.

I tried to use Reflexion, but it doesnt work too.

[code]

`var o = feature.Geometry.GetProperty<ReadOnlyCollection<object>>("LineStrings");`

I have an error saying can t cast from ReadOnlyCollection<LineStringCoordinates> to ReadOnlyCollection<object>

LineStringCoordinates  is private too ... What s wrong with Microsoft? Why did they take this decision? I really dont unde

[2017-10-30 15:59] ranouf commented on #374
So I finally choose to User JSon to get the value, but seriously it s dirty.

[code]

My opinion, MultinLineString need to be public.

I will close this issue when I will know why MultineLineString is private.

[2017-10-31 18:25] LuisBosquez commented on #355
@dotsad Which version of the Microsoft.Azure.Graphs library are you using? This bug should have been resolved by version `>=0.3.0-preview`.

[2017-10-31 20:02] ealsur commented on #302
@craigsmitham Package was [published](https://www.nuget.org/packages/Microsoft.Azure.DocumentDB.Core).

Issue can be closed I think @kirankumarkolli

[2017-10-31 20:11] dagtveit commented on #368
srry for the late reply it was lost in all the emails. i doo use some extensions to linq that is implementing continuationtoken.  i ripped of a project that i cant remember whare now. and the name. but it have you making provider and service and iservice to implement it with asp.net core2. and in the extension methods there is one method for takeone and one called topagedresults. and that method i

[2017-10-31 22:58] PhaniJaddu commented on #373
@kirankumarkolli  : I forgot to mention that we have only one instance of the web job running , we are using stored procedure to delete the documents , so we send some list of the documents to stored procedure and then it will delete and then we pick some more and then it will delete .. this will be keep on happening till there are no records left

[2017-11-01 20:23] kirankumarkolli commented on #373
Retry might also cause this issue.

Ideal in your case would be to leverage TTL capability which would cleanup automatically.

[2017-11-02 06:37] joopscheer opened #376 "ExecuteNextAsync response contains no items but ResponseContinuation is set"
Package version: **1.6.0**

This code isn't new but stopped working now the collection is growing. The collection contains around 8000 records. The records are identified by a Type property which has an index. Items are fetched with a DocumentQuery and the method ExecuteNextAsync. For some queries the ExecuteNextAsync contains items, for others not (this is incorrect). The query always has an orde

[2017-11-02 18:13] sonicmouse commented on #117
What is a proper work around for this? I want to extend Document. It just makes sense. I am assuming that it's some sort of caching issue where the Timestamp of the Document isn't updating properly when you sent a property on the document. I would invalidate the Timestamp except Azure.Document hides it.

This is a quite frustrating bug and really degrades the Azure DocumentDB experience.

[2017-11-02 19:07] melzoghbi opened #377 "Method Skip is not supported while querying Cosmos DB"
Hi,

While i am trying to implement pagination in the cosmos db query. i am getting this error:

Microsoft.Azure.Documents.Client: Method 'Skip' is not supported.

Here is my C# code:

[code]

How would i fix this? Thanks.

[2017-11-05 04:15] sonicmouse opened #378 "Could not load file or assembly 'DocumentDB.Spatial.Sql' or one of its dependencies."
Visual Studio 2015 v14.0.25431.01 update 3

I updated all my nuget packages to the latest versions. Everything works great locally whether in debug or release, but as soon as i published to azure, i get this:

[code]
NuGet packages installed:

[code]
Publish build log:
[code]
You can see the target DLL getting added to the package in the build process.

I can't get it out of this state -- it's on

[2017-11-05 15:11] sonicmouse commented on #378
So, i just took a stab in the dark and FTP into the site. Manually deleted all the files in the BIN directory. Then transferred all the files from my local BIN directory to the remote one and everything is fine.

So, this is a bug with the Publish tool.

[2017-11-07 20:55] kirankumarkolli commented on #376
@bchong95 can you please take a look?

[2017-11-07 20:55] kirankumarkolli commented on #377
@bchong95 can you please take a look?

[2017-11-07 20:56] #378 closed

[2017-11-07 21:08] bchong95 commented on #376
Hi,

It is possible that you are getting an empty page due to the backend preempting your query. This would mean that your query is taking more than some fixed amount of time on the backend to retrieve your documents, so it preempts your query and sends you a continuation if you want to continue making progress on the query.

If possible can you send us the QueryMetrics for this query?

You can re

[2017-11-07 21:14] bchong95 commented on #377
Hi,

We currently do not support Skip in SQL queries (and thus we don't support it for LINQ).

The workaround is to leverage the Continuation Token retrieved from executing the query.

This blog post talks about how this can be achieved:

http://www.kevinkuszyk.com/2016/08/19/paging-through-query-results-in-azure-documentdb/

Note that this method still consumes RUs to get to the skip point that y

[2017-11-07 21:54] melzoghbi commented on #377
Thanks @bchong95. I am checking this solution out and will get back to you.

[2017-11-08 16:16] melzoghbi commented on #377
This works. Thanks a lot @bchong95 :-) you can close this issue.

[2017-11-08 16:16] #377 closed

[2017-11-09 03:35] chrisparkeronline commented on #372
Hi, sorry for the delay. No sure what the issue was but recreating the partition with "/parentId" setup the partition using the path I wanted.

Additionally using the following code worked for me.

For documents with a null parentId, meaning no partition key (top level documents in my case), I used this code;
`var retVal = client
                    .CreateDocumentQuery<MyCustomObject>( Uri, query

[2017-11-09 03:35] #372 closed

[2017-11-09 09:15] dagtveit commented on #368
I may found a culprit i am not shure if its related. but if i have a document in the document db that has an empty value in the order by field linq query completly excludes everything

[2017-11-09 11:11] joopscheer commented on #376
It seems the custom index on "Type" and the order by on "Name" are the problem.

**Scenario 1:** Custom index "Type", where on "Type" and order by on "Name" (index hit: 0.0; request charge: 1416.82):
[code]

**Scenario 2:** Custom index "Type", where on "Type" and no order by (index hit: 0.9; request charge: 34.24):
[code]

**Scenario 3:** Default indexing policy, where on "Type" and order by on "

[2017-11-09 16:34] AdrianoRNascimento commented on #351
I am suffering from the exactly same problem described by @tophallen

[2017-11-09 20:58] codecadwallader commented on #252
@mackep Thank you.. I just spent a couple hours debugging the exact same issue (query needs to be resent on continuation just as it was on the original.. otherwise the SDK silently throws out the continuation without error).

[2017-11-10 15:56] nshanb opened #379 "hooks for logging and customization"
couldn't find anything in client SDK to hook and modify pipeline:
something to look and maybe change request headers before sending and response headers. For example to cancel a request, accumulate RUs, or log.
Of course there is a possibility to implement some logic using FeedResponse<T> and ResourceResponse<T>, but this is possible not for all methods. And more important all LINQ code must be re

[2017-11-10 20:44] leftler commented on #203
@rnagpal You have this issue marked as planned here but on on August 29th it was set to Unplanned  on the link https://feedback.azure.com/forums/263030-documentdb/suggestions/17777323-connection-string you provided with no comment.

Is this still going to be done? It is a very useful feature and promotes constancy with the connection methods of `CloudServiceAccount` for blob storage.

[2017-11-11 15:50] HaukiDog opened #380 "Latest version incompatible with latest emulator?"
When I try to use 1.19.0 I get the following error when connecting to the emulator: "Invalid API version. Ensure a valid x-ms-version header value is passed". The issue does not happen when connecting to a hosted db. Downgrading to 1.18.1 does not result in issue.

Is there a new emulator available. I have 1.17.43.5.

[2017-11-11 19:25] rnagpal commented on #380
@HaukiDog We will get a new emulator release out asap to address this issue.

[2017-11-12 05:16] rnagpal commented on #380
This has been fixed in the latest release of the emulator today. Please upgrade.

[2017-11-12 05:16] #380 closed

[2017-11-15 08:14] joopscheer commented on #330
@kirankumarkolli Any news regarding this issue?

[2017-11-15 13:26] darrengillis opened #382 "Problem with serializing objects when creating a document within an Azure function and using latest version of NewtonSoft.Json"
Here is the scenario:

Calling an azure function (http) that creates a document:

 public static async Task<T> CreateItemAsync(string databaseId, string collectionId, T item)
        {
            Document document = await client.CreateDocumentAsync(UriFactory.CreateDocumentCollectionUri(databaseId, collectionId), item);

            return (T)(dynamic)document;
        }

When using version 6.0.8

[2017-11-15 22:03] awcab commented on #364
I was also having this problem.  net471 project using a netstandard2.0 lib referencing DocDB.Core package.  I fixed it by referencing DocDB.Core directly in the net471 project instead of relying on the indirect reference.

[2017-11-16 19:07] amusse opened #383 "Could not load file or assembly 'System.Diagnostics.DiagnosticSource' when using Microsoft.Azure.Graphs NuGet package"
I've been having numerous "Could not load file or assembly" issues when using the Microsoft.Azure.Graphs 0.3.1-preview nuget package in my projects. One example is when trying to connect to the Azure DocumentDB Graph API but I get a System.AggregateException:

[code]

I am using VS 2017 Version 15.3.3 and using the 0.3.1-preview Microsoft.Azure.Graphs nuget package. I have a .NET Core Class Librar

[2017-11-17 04:17] cschoede opened #384 "Not compatable with Microsoft.Azure.DocumentDB.Core > 1.6.0"
**Description**

Using Cosmos DB Emulator (1.17.29.4) with Microsoft.Azure.Document.DB.Core > 1.6.0 nuget package will throw an exception on client side.

**Technical Details**

- ASP.NET Core 2.0 (Debug Any CPU)
- Emulator 1.17.29.4
- Microsoft.Azure.DocumentDB.Core > 1.6.0

**Exception**

- **Message**: `One or more errors occurred. (Invalid API version. Ensure a valid x-ms-version header value

[2017-11-17 17:49] rnagpal commented on #384
@cschoede  :  You need the latest version of the emulator in order to work with 1.7.0 and onwards. Please refer to the Release Notes of 1.7.0 for the download link : https://docs.microsoft.com/en-us/azure/cosmos-db/documentdb-sdk-dotnet-core

[2017-11-17 17:49] #384 closed

[2017-11-17 20:44] SeanFeldman commented on #352
Looks like the name was changed to [`Microsoft.Azure.CosmosDB.Table`](https://www.nuget.org/packages/Microsoft.Azure.CosmosDB.Table).
Wish the team would keep things up to date 😉

[2017-11-17 20:44] #352 closed

[2017-11-17 20:57] SeanFeldman opened #385 "Can't resolve Microsoft.Azure.Storage.Common package when pulling down Microsoft.Azure.CosmosDB.Table"
![image](https://user-images.githubusercontent.com/1309622/32968591-0e94f946-cb9f-11e7-9a43-2239282a7e76.png)

Inspecting [`Microsoft.Azure.Storage.Common` nuget feed](https://www.nuget.org/packages/Microsoft.Azure.Storage.Common) there's only a pre-released version of the package `8.6.0-preview`.

Further looking at the dependecies for Table API client, is it correct for a GA-ed library to take a

[2017-11-17 21:05] SeanFeldman commented on #344
`Microsoft.Azure.CosmosDB.Table` client has [GA-ed](https://azure.microsoft.com/en-us/blog/announcing-the-general-availability-of-azure-cosmosdb-table-api/). Would be nice to see status/progress update on this issue. Thanks.

[2017-11-17 21:13] SeanFeldman commented on #385
Tried with VS and package manager console, same problem:
![image](https://user-images.githubusercontent.com/1309622/32969199-653b4140-cba1-11e7-991f-9b3dc085d6e5.png)

[2017-11-17 22:46] SeanFeldman commented on #385
Looks like a tooling issue.
If a project is configured to use `packages.config` this issue will manifest itself.
If a project is configured to use `PackageReference`, there's no problem with both legacy project system and the new SDK-style projects.

Opened an issue with NuGet https://github.com/NuGet/Home/issues/6196.

[2017-11-17 22:48] SeanFeldman commented on #385
Thinking about it, it's not a good practice to mix GA-ed/production grade libraries and preview/beta dependencies. Will keep this open to address that aspect and let team decide what to do about it (potentially another issue).

[2017-11-18 04:30] rnagpal commented on #373
@PhaniJaddu @chrisparkeronline : If you can provide a standalone repro for this, I can try repro'ing this on my end. At the minimum, please send me your sample code you are using, so that I can see if there is anything with the code that could cause this. Can you add some logging to your stored procedure when a delete is successful(log the id of the document) and also log the id of the document th

[2017-11-18 04:34] rnagpal commented on #117
Reactivating it and adding to the backlog.

[2017-11-18 04:49] rnagpal commented on #378
@sonicmouse The issue is that one of your nuget dependencies or your app start code is trying to load all the assemblies in the bin directory at startup. Since the bin directory contains the 2 native dlls that we ship(which are needed for queries to work), Assembly.Load is failing for these assemblies since these are native assemblies(which is an expected error for a native assembly). You should f

[2017-11-18 05:01] rnagpal commented on #373
@chrisparkeronline : Never mind, I saw your earlier post. That's a different issue that seems to have been resolved by you.

[2017-11-18 05:10] rnagpal commented on #372
@chrisparkeronline Just to clarify, when you pass "null" as the value of the partition key, it can be a valid value of your partition key. This is a different semantics than "missing" partition key from your document, in which case you need to pass Undefined.Value as Kiran mentioned above.

The exception that you are getting from ReadDocumentAsync API is expected if there is no such document. If y

[2017-11-18 05:15] yaronyg commented on #385
It's something that should be fixed in the not too distant future. In the meantime we have doc'd the issue and the work around - https://docs.microsoft.com/en-us/azure/cosmos-db/table-sdk-dotnet#troubleshooting

[2017-11-19 18:59] rnagpal commented on #355
This issue has been fixed in the latest SDK version as mentioned above.

[2017-11-19 18:59] #355 closed

[2017-11-20 02:39] SeanFeldman opened #386 "Portal generates wrong connection string for previously created CosmosDB for Table API"
`CloudTable.CreateIfNotExistsAsync()` and `CloudTable.CreateIfNotExists()` fail with exception

[code]

Inspecting response with Fiddler shows

[code]

**Steps to reproduce**

1. Clone a [sample application](https://github.com/Azure-Samples/azure-cosmos-db-table-dotnet-getting-started) from the [Table API documentation](https://docs.microsoft.com/en-us/azure/cosmos-db/tutorial-develop-table-dotnet

[2017-11-20 04:51] SeanFeldman commented on #386
Futher investigation and [another sample](https://github.com/Azure-Samples/storage-table-dotnet-getting-started)(this time a right example) leads me to think that there's an issue with the portal and CosmosDB Table API instance created earler.

The database I used (West US):
![image](https://user-images.githubusercontent.com/1309622/33002754-69b2565e-cd73-11e7-97f6-4356413747ed.png)

But connectio

[2017-11-20 05:02] SeanFeldman commented on #386
Also, documentation mixes old and new package based samples (https://github.com/Azure/azure-documentdb-dotnet/issues/386).

[2017-11-20 18:51] yaronyg commented on #344
Microsoft has two different table offerings, Azure Table storage and Azure Cosmos DB Table API. They each target different audiences but use the same SDK. You can get a clear idea of how to choose which service by looking at https://docs.microsoft.com/en-us/azure/cosmos-db/table-introduction. I'm also tracking down the .net standard issue now with @kirankumarkolli

[2017-11-20 18:53] SeanFeldman commented on #344
Thank you. @yaronyg
Just to be clear - this issue is about **.NET Standard support for Azure Cosmos DB Table API**.
Any mentioning of the Azure Storage tables is irrelevant 🙂

[2017-11-20 19:25] #382 closed

[2017-11-21 00:29] yaronyg commented on #386
The preview SDK can be used with preview table accounts. The GA SDK can be used with GA table accounts. The two can't be mixed and matched. In this case I believe you are trying to use the GA SDK with a preview table. You can tell if a table is preview because it has a banner across it in the portal that reads "https://msdata.visualstudio.com/CosmosDB/CosmosDB%20Team/_workitems/edit/107577"

[2017-11-21 00:29] tonyferrell opened #387 "NetStandard Packages shouldn't be published in a different package"
DocumentDb has two different packages: one supporting [.NET Standard](https://www.nuget.org/packages/Microsoft.Azure.DocumentDB.Core/), and one supporting [.NET Framework](https://www.nuget.org/packages/Microsoft.Azure.DocumentDB/). This makes it very hard to build abstractions and libraries that target multiple frameworks.

Would it be possible to get a single package that supports targeting both

[2017-11-21 05:50] SeanFeldman commented on #386
@yaronyg I had no tables in the DB and no banner.

I did notice today that the Overview page had the following:
![image](https://user-images.githubusercontent.com/1309622/33056822-f98737f0-ce44-11e7-8d9a-b879f71eb97f.png)

Not very indicative if you ask me. In the ocean of text, that should be a screaming colour and not a pleasent blue b/g 🙂

[2017-11-21 05:50] #386 closed

[2017-11-21 15:05] rd0nz opened #388 "Microsoft.Azure.Graphs - Gremlin - Allow partitioning for edges"
NuGet `Microsoft.Azure.Graphs 0.3.1-preview`
Cosmos `Azure Cosmos DB Emulator 1.19.102.5`

## Note
This issue has only been verified using the Cosmos DB Emulator.

## Issue
Setting a partition-key property while creating an edge in Gremlin throws an exception. Cosmos DB however allows setting partition-keys for edges through REST.

Unknown to me is if there is support for setting the `_vertexParti

[2017-11-21 17:52] yaronyg commented on #386
@SeanFeldman we are actively working on a new banner to try and make this all much clearer.

[2017-11-22 01:25] yaronyg commented on #344
@SeanFeldman we don't currently support .net standard for Tables API but we do intend to eventually fix it.

[2017-11-22 11:39] vaskravchuk opened #389 "No etag option available for upserDocument in js server sdk"
[upsertDocument](http://azure.github.io/azure-documentdb-js-server/Collection.html#upsertDocument) function in js server sdk does not support optimistic concurrency handling with etags.
Is it possible to add support of `etag` parameter in [UpsertOptions](http://azure.github.io/azure-documentdb-js-server/Collection.html#.UpsertOptions) ?

[2017-11-24 01:24] rnagpal commented on #389
@vaskravchuk We have fixed this internally and will be available in the next update here : https://github.com/Azure/azure-documentdb-js-server

Please use that GitHub page for filing any js server related issues. Thanks!

[2017-11-24 06:38] FredrikGoransson commented on #185
@projecteon did you ever resolve this issue? I am encountering the same problem right now on my dev machine.

[2017-11-24 10:18] frankabbruzzese commented on #246
Bug persists also in 1.7.1! Any plan to fix this in future versions?

[2017-11-24 12:08] projecteon commented on #185
@FredrikGoransson No, I did not. I think I ended up with uninstalling and reinstalling several times (perhaps with reboots inbetween) and suddenly it had solved itself. I had lost all previous data however.

[2017-11-28 13:20] eosfor opened #390 "Powershell 5 support for Graph API"
Hello Colleagues, simple repro project is [here](https://github.com/eosfor/psCosmosGraphTest)

1. clone the project
2. update the following vars
`            string endpoint = "<myEndpoint>";
            string authKey = "<mysecret>";`
3. run under debug
4. type Test-Graph

Expected result - console should output 3 objects

Now it fails with a reference to Newtonsoft.Json 6.0.0.0. But there is alr

[2017-11-29 06:00] olivertowers commented on #390
In most cases assembly binding redirects would solve this issue, and I do see one for Newtonsoft.Json listed in [app.config](https://github.com/eosfor/psCosmosGraphTest/blob/master/app.config)  in the repo:

[code]
Normally, this would be included in the host executable's .config file, but since Powershell.exe is the host executable for your cmdlets, this gets a bit more complicated.

Options for

[2017-11-29 16:41] mgiannikouris commented on #227
+1 would like to see ReadDocumentAsync<T> in the interface if possible (also create if not exists).

[2017-11-29 20:21] tariknz commented on #227
Yeah its a little weird because we're supposed to create a singleton of the client accross your application, yet we can't effectively use the IDocumentClient provided without doing some hacky casting. Hopefully it is resolved soon.

[2017-11-30 13:41] eosfor opened #391 "Question: bulk insert graph"
Hello colleagues,

Is there any option to bulk insert the graph, or import from GraphML or DOT?

Thanks

[2017-11-30 19:16] Jacob-McKay opened #392 "Question: Is there a possibility of port exhaustion from many limited requests?"
Our team is still investigating, but the only working theory we have left as to why our service plans keep running out of sockets (where the graph of: "TCPv4\ TCPv4 Connections Established" spikes at max and remains until restart/redeploy/scaling of the resources in the service plan) is that when documentdb starts rate limiting our requests under heavy load, the documentdb client is not releasing

[2017-12-01 03:19] olivertowers commented on #391
A bulk import .net library for COSMOSDB graph is in the works. Can give a firm ETA, but expecting a preview release by the end of December.

[2017-12-01 12:02] MovGP0 opened #393 "Question: Mock ResourceResponse<Document>.StatusCode"
I want to mock the `ResourceResponse` from `ReplaceDocumentAsync`

**Test**
[code]

Unfortunately, I only get an `NullReferenceException`:
[code]

I have the same problem with all other properties. What is the proper way to mock the properties of `ResourceResponse`?

[2017-12-01 12:33] MovGP0 commented on #393
apparently the issue is that the properties access an property that can only be accessed internally, so the end user has no way to set it in an unit test:

[code]
So I see multiple ways to solve this issue:

* change the interface `IDocumentClient`, such that it requires only the base interfaces (ie. `IResourceResponseBase`) instead of the entities. However, this would further enforce the [Entitie

[2017-12-01 12:35] MovGP0 commented on #393
see also: https://stackoverflow.com/questions/33262541/how-to-instantiate-resourceresponsedocument/39899317#39899317

[2017-12-01 14:40] lpunderscore commented on #338
@jayantacs I know this is closed, but could you provide a link or a status for the bulk insert api? I am not able to find it.

[2017-12-04 20:05] olivertowers commented on #390
@eosfor Did these resolve the issue for you?

[2017-12-04 20:13] olivertowers commented on #361
Issue fixed with 0.3.1-preview package. See [release notes](https://docs.microsoft.com/en-us/azure/cosmos-db/graph-sdk-dotnet).

[2017-12-04 20:13] #361 closed

[2017-12-05 04:48] lpunderscore opened #394 "Error upon calling ExecuteNextAsync in Azure App Services"
Create a simple vertex query:

[code]

it crashes on  executenextassync when running in azure app service but runs fine locally using the same data connections.

The exception in application insights is:

An unhandled exception has occurred: Unexpected character encountered while parsing value: }. Path '[0].properties.Modified[0].value', line 1, position 714.

[2017-12-06 03:21] olivertowers commented on #394
Can you provide the following information:

- Version of Microsoft.Azure.Graphs
- Version of Newtonsoft.Json
- Stack trace for the error if available.

It seems unusual that it would work locally but fail when running remotely.

Are there any differences in the web.config between what is published and what is local?

[2017-12-06 17:06] ohadschn opened #395 "System.InvalidOperationException: 'The given header was not found.'"
I have the following code:

[code]

I'm getting the following exception:
[code]

[2017-12-06 22:40] ohadschn commented on #395
OK so the problem was that I was using the Azure Table endpoint (`https://foo.table.cosmosdb.azure.com:443/`) rather than the Document Endpoint (`https://test-events.documents.azure.com:443/`).

This is still an issue though, a better error message would have helped, and an Exception's ctor shouldn't throw another exception in any case...

[2017-12-07 14:56] chunliu commented on #185
Not sure what happened. The emulator on my machine suddenly could not be accessed by code. It kept returning "service unavailable" exception. I installed Docker for Windows on this machine today. Not sure if it is related to the problem.

"Reset data" option helped to resolve the problem. Now I have to reload all data into the emulator again.

[2017-12-07 18:40] kirankumarkolli commented on #393
@MovGP0 mocking SDK is an existing gap that we are planning to address early next year.
Adding this to our backlog.

[2017-12-07 18:41] kirankumarkolli commented on #351
@khdang is this issue addressed in 1.19.1 release?

[2017-12-07 18:42] kirankumarkolli commented on #393
#342 is the one we are tracking for this.

[2017-12-07 19:05] kirankumarkolli commented on #392
@Jacob-McKay docdb does connection pooling and has a timeout for the connections.

How frequently is this happening and do you have a repro for this?

[2017-12-07 19:16] Jacob-McKay commented on #392
We have a new theory that we're not handling our http connections well, so when one of our application apis is under heavy load and becomes unavailable due to a high number of 429 calls to it's database, consumers of that api and retrying and creating more connections that they aren't cleaning up.

We had a nightly job that would task docdb with many large requests causing the regular spike in 429

[2017-12-07 19:16] #392 closed

[2017-12-08 10:39] burikella opened #396 "In some cases strings like "10.3" treated as a "Oct, 3" date and causes exception"
We encountered issue with some query structures, I've simplified our relatively complex query query up to following repro sample:
`g.V().and(__.out().has('value', '10.3'))`
This query causes exception

Any further simplification of the query doesn't cause exception anymore.

I've found only one workaround for this issue – using 10.3 as a number without quotes. But such trick is limited by another

[2017-12-08 10:53] burikella opened #397 "Parsing decimal numbers inside query fails for some cultures"
Trying to workaround issue #396 I'm putting strings which can be treated as Date without quotation. But for some cultures (eg `ru-ru`) it fails to parse query with exception:

Which is thrown from `System.Number.StringToNumber` method.

[2017-12-08 13:36] eosfor commented on #390
Well, yes, I followed the second option, but it feels like a "crutch". One of the assemblies which Graphs is dependent on in turn depends on Newtonsoft.Json 6.0 which leads to the issue. It looks like this.

![image](https://user-images.githubusercontent.com/9363027/33768152-f8046e4e-dc35-11e7-90fc-95855f82e049.png)

[2017-12-11 05:59] joopscheer commented on #376
I'm wondering if someone had the time to look into this issue?

[2017-12-11 07:02] mrpoponz commented on #185
@chunliu

Yes this worked for me as well.  Thanks for the comment!!  I'd been pulling what's left of my hair out.  Installed docker as well.  Reset data worked for me.

[2017-12-11 10:49] nlavri opened #398 "Paging - There is no active document producer"
Hello,
I'm trying to implement a paging for mvc app.
I do two http queries to my mvc app.
Each time the controller action makes a query to a azure db.
The second db query uses a ResponseContinuation property from the first request query result via FeedOptions.
Then I get an exception that "There is no active document producer".
Is there any configuration parameters to enable continuation?

[2017-12-11 13:33] gcrossland-cosworth opened #399 "Error while loading assemblies: .../DocumentDB.Spatial.Sql.dll during VS 15.5.0 build of Xamarin.Forms iOS project using <PackageReference>s"
Trying to build an iOS-targeting Xamarin.Forms project (as created by the cross-platform template wizard) that references (directly or indirectly) the Microsoft.Azure.DocumentDB.Core package (tested with 1.6.0 and 1.7.1) using the new PackageReference package management format in Visual Studio 15.5.0 fails with (for example) ..._\Xamarin.iOS.Common.targets(777,3): error : Error while loading assem

[2017-12-11 13:36] gcrossland-cosworth commented on #399
[399-repoproj.zip](https://github.com/Azure/azure-documentdb-dotnet/files/1547942/399-repoproj.zip) contains a VS solution created using the reproduction steps (including the extra bit), plus msbuild's diagnostic output.

[2017-12-11 17:28] nlavri commented on #398
Seems that i need to wrap the token into "array".
` feedOptions.RequestContinuation = $"[{requestContinuation}]";`

Is it expected behavior?  FeedResponse.ResponseContinuation is a json string that is not an array.

[2017-12-12 13:18] JamesPSScott opened #400 "Direct Tcp connectivity not working in emulator"
Hi all,

I did some Windows Updates yesterday (One was the Fall Creators update I think).  I also installed the latest VS 2017 15.5.  Since then Cosmos Db Emulator will not let me connect in Direct Mode.  I did figure out how to connect in gateway, but for testing reasons we really need to connect in both.

I disabled my firewall to see if that was the issue.  It wasn't.

Please help!!  I already

[2017-12-12 15:06] eosfor commented on #390
It seems like an issue in DocumentDB library, as when I'm trying to use it from PowerShell here is what's happening

![image](https://user-images.githubusercontent.com/9363027/33891507-33f736dc-df67-11e7-920c-20d10b4d4222.png)

[2017-12-12 19:29] olivertowers commented on #390
We will be resolving the Newtonsoft.Json version discrepancy between Microsoft.Azure.DocumentDB and Microsoft.Azure.Graphs in a future release of both packages, targeting v10.0

I'd still be concerned that this will come up again due to other issues, such as:
- Third-party packages depending on different version of common dependencies like Newtonsoft.Json
- Some .NET standard packages have had mis

[2017-12-12 21:28] khdang commented on #351
@PeterStephenson @tophallen @AdrianoRNascimento Thanks for reporting the issue!
@kirankumarkolli The 1.19.1 release fixes issue in StoredProcedure and order by queries. However, for JsonSerializerSettings, in general, the support remains limited. There is pending work on making the LINQ query translation to incorporate the serializer settings, which could be widely customed, apart from just proper

[2017-12-12 22:20] kirankumarkolli commented on #400
@JamesPSScott which version of emulator are you using? can you please try with latest version.

[2017-12-12 23:43] mattdone01 commented on #351
I am getting intermittent issues with documetnDB not hitting my Json converter that has been declared in the initialization of the DocumentClient
`            _dbClient = new DocumentClient(new Uri(endpointUrl), authorizationKey,
                new JsonSerializerSettings {TypeNameHandling = TypeNameHandling.None, ContractResolver = new ViewModelContractResolver()},
                new ConnectionP

[2017-12-13 07:22] eosfor commented on #390
Thanks Oliver, looking forward to try new versions of Graphs and DocumentDB

[2017-12-13 12:12] JamesPSScott commented on #400
Its 1.19.102.5.  I downloaded this on Monday from MS site.

[2017-12-14 10:41] glooydatonnookanthegs opened #401 "Uncatchable DocumentClientException (429 "Request rate is large") in DocumentDB library for .net"
When hitting the emulator rate limit the DocumentDB library throws and uncatchable DocumentClientException for http status code 429.

Message:
[code]

StackTrace:
[code]
using nuget `Microsoft.Azure.DocumentDB version 1.19.1`

The code I'm using:
[code]

When running the code in visual studio the `DocumentClientException` does blow up in my face but
I can't catch the Exception to force a retry on

[2017-12-15 16:51] connor4312 commented on #227
Any news on this?

[2017-12-15 17:12] SeanFeldman opened #402 "Track TTL-expired deletes in change feed"
Sililar to the [idea brough up at UserVoice](https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/14603412-execute-a-procedure-when-ttl-expires).

From CosmosDB team:

[2017-12-15 17:17] SeanFeldman commented on #344
@yaronyg any idea on the bulk part when to expect it?

[2017-12-18 04:01] lpunderscore commented on #394
.net core 2.0 backend (webapi) with angular 5 front end.

Microsoft.Azure.Graphs 0.3.1-preview
Newtonsoft.Json 10.0.3
An unhandled exception has occurred: Unexpected character encountered while parsing value: }. Path '[0].properties.Modified[0].value', line 1, position 493.

happens when this line is executed:

[code]

running in release mode locally works fine. I should also point out that when r

[2017-12-18 06:10] JJ11teen opened #403 "Data Explorer error when trying to loading graph"
When trying to load my graph in the portal I get the following error:

Microsoft.Azure.Documents.DocumentClientException: The input authorization token can't serve the request. Please check that the expected payload is built as per the protocol, and check the key being used. Server used the following payload to sign: 'get
colls
dbs/<database>/colls/<collection>
mon, 18 dec 2017 05:42:57 gmt

[code

[2017-12-18 06:20] JJ11teen opened #404 "Unable to connect to graph with gremlin (works through azure.graphs in .net)"
Have tried with both Gremlin 3.2.6 and 3.3.0, on both windows and wsl.
Most descriptive error I have been able to get is on wsl:

[code]

Gremlin config file is setup as described [here](https://docs.microsoft.com/en-us/azure/cosmos-db/create-graph-gremlin-console):

[code]

[2017-12-18 16:33] yaronyg commented on #344
@SeanFeldman not sure what you mean by bulk part?

[2017-12-18 22:26] SeanFeldman commented on #344
@yaronyg ETA w/o overcommitting

[2017-12-19 01:56] burikella commented on #391
We're successfully using https://docs.microsoft.com/en-us/azure/cosmos-db/import-data for importing graph.

[2017-12-19 02:16] burikella opened #405 "JsonReaderException when there quotes in grouping property"
Repro sample contains single vertex with quote character (U+0022):
`g.addV('label').property('value', 'Value with " quote')`
Then try to group set containing this vertex by that property with quotation mark:
`g.V("f13bea10-0e54-47b4-9c67-43aee5616348").group().by('value')`

This causes exception:
[code]

[2017-12-19 20:00] yaronyg commented on #344
@SeanFeldman Sorry for the slippage, but currently this is planned for the first 1/2 of 2018.

[2017-12-19 22:55] Laumania commented on #183
I'm listening in on this one, as I'm looking for the same.

[2017-12-20 10:46] eosfor commented on #391
Thanks very much!

[2017-12-20 18:35] olivertowers commented on #394
I haven't had an opportunity to setup a repro, but here are some things you can try in the interim:

- Upgrade Microsoft.Azure.DocumentDB package to latest version (1.19.1 as of today)
- Downgrade Newtonsoft.Json to 9.0.1.

[2017-12-20 22:49] olivertowers commented on #383
According to this github issue, [#487](https://github.com/aspnet/JavaScriptServices/issues/487 ),  the issue is issue caused by `System.Net.Http 4.3.0` package which is either part of .NET SDK version or one of the dependencies of Microsoft.Azure.Graphs depends on.

Using your repro projects, I was able to fix the issue by explicitly referencing package `System.Net.Http` >= v4.3.1 in GraphDBRepo.c

[2017-12-21 00:17] olivertowers commented on #388
There is currently no support for this in CosmosDB Graph.

Would it be possible to provide a use-case for this? In what circumstances would you need this control and to what end? I can see benefits in some circumstances, but it will be helpful if you can provide concrete examples for your scenario.

Also could you add this ask as a suggestion to our [user feedback forum](https://feedback.azure.com

[2017-12-21 15:53] MovGP0 commented on #376
@joopscheer the problem ist still not fixed. I've implemented a workaround using reflection:

[code]

[2017-12-21 15:59] MovGP0 opened #406 "Unit Testing FeedResponse"
Currently it is not possible to mock `FeedResponse.ResponseContinuation`, since the required constructor is marked as internal. Here is my current workaround:

[code]

[2017-12-21 17:12] MovGP0 commented on #393
Currently it is not possible to mock `FeedResponse.ResponseContinuation`, since the required constructor is marked as internal. Here is my current workaround:

[code]

[2017-12-21 17:12] MovGP0 commented on #406
duplicate of #393

[2017-12-21 17:12] #406 closed

[2017-12-21 17:15] MovGP0 commented on #342
I have the same problem now. I would need to create a `DocumentQuery`, but I am unable to do so, because `DocumentQuery` and `DocumentQueryable.CreateDocumentQuery` are both marked as internal.

[2017-12-21 22:22] kirankumarkolli commented on #401
@khdang please look into this.

[2017-12-21 23:33] kirankumarkolli commented on #398
@bchong95 could you please look into this.

[2017-12-22 10:13] MovGP0 commented on #227
there is another issue: `IDocumentQuery` and `IDocumentQuery<T>` do not derive from `IQueryable` and `IQueryable<T>`, while their implementations do. This causes not only additional typecasting, but also makes unit testing much harder.

[2017-12-22 21:29] ashwini-ms commented on #404
@JJ11teen,  Can you recreate a new account and try this?

[2017-12-22 21:55] Laumania commented on #183
@kirankumarkolli

Where? Sample please.

[2017-12-27 09:41] sj218 opened #407 "CreateCollection failed with "Entity with the specified id does not exist in the system""
I am using a singleton instance of document client, one each for 8 machines. These instances come up almost simultaneusly and get initialized. In the initialization task, i am using CreateDatabaseIfNotExistsAsync  and CreateDocumentCollectionIfNotExistsAsync to create my db and collection. This has been working fine but last time when i initilised my instances the CreateDocumentCollectionIfNotExis

[2017-12-27 11:55] sj218 commented on #407
{Microsoft.Azure.Documents.DocumentClientException: Entity with the specified id does not exist in the system.
ActivityId: caed3ac7-ab9d-4e39-8591-ea179c18842a, Microsoft.Azure.Documents.Common/1.19.121.4
   at Microsoft.Azure.Documents.Client.ClientExtensions.<ParseResponseAsync>d__4.MoveNext()
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.Compi

[2017-12-29 12:43] pcoppney commented on #235
@arramac  Has there been any progress on this?

[2017-12-29 17:18] arramac commented on #235
@pcoppney custom JsonSerializerSettings is supported as of SDK 1.16.0. Can you please try setting that when you read/write these objects. You need something like: new JsonSerializerSettings { DateParseHandling = DateParseHandling.DateTimeOffset })

[2017-12-29 22:00] olivertowers commented on #405
I have confirmed that this is a bug related to GraphSON serialization where the property name isn't escaped correctly on `Map` types. `Map` is the GraphSON structure that is used to represent results for group().by() operations.

A fix will be available in the next release of Microsoft.Azure.Graphs.

A possible workaround is to add a literal escape character to the  string value, to ensure that th

[2018-01-02 14:13] oshumelyuk commented on #69
Hello, did u find out the solution how to use triggers with upsert?
Thanks

[2018-01-02 23:08] JJ11teen commented on #404
Created a new cosmos db account and still have the same issue

[2018-01-03 18:30] pcoppney commented on #235
I am using .net core and version 1.7.1 of Microsoft.Azure.DocumentDB.Core.  Which SDK are you talking about?

[2018-01-03 20:34] ashwini-ms commented on #404
@JJ11teen , Please share the gremlin config file for the new account (.yaml file).

[2018-01-03 20:45] olivertowers commented on #403
@JJ11teen is this error still occurring? If it is can you provide a recent activity id for the error.

[2018-01-03 20:52] olivertowers commented on #396
I was unable to repro this issue. Are you connecting to a gremlin server or use Microsoft.Azure.Graphs

Can you provide a sample data set for which this is failing

For example Sample data format as a gremlin expression a which
[code]

Also what is the current culture for your application?

[2018-01-04 03:12] JJ11teen commented on #403
Still happening, and I have recreated the account since (as per #404)
[code]

[2018-01-04 03:17] JJ11teen commented on #404
The config file is the same as originally described, except with a new key for the password.

[2018-01-04 08:39] burikella commented on #396
I've created blank graph on Azure Portal, created following sample:
[code]
Then tried to execute query from original issue:
`g.V().and(__.out().has('value', '10.3'))`

This result in error:
[code]

[2018-01-04 10:30] Liversage commented on #401
The line

    inserted = await insertTask;

will throw any exception raised by the task. This means the following code

    if (insertTask.Exception != null)
    {
        // never hits, Exception is always null
    }

is only ever hit if there was no exception thrown in the task. The comment `// never hits, Exception is always null` is true but not surprising.

And because the `await insertTask`

[2018-01-04 11:29] glooydatonnookanthegs commented on #401
When I run it i'm still getting a `429`, not a 404.

[code]
Any Exception thrown by `inserted = await insertTask;` should be caught, but it isn't.
I can see the Exception in my visual studio, but not in my code.

[2018-01-04 11:36] Liversage commented on #401
@glooydatonnookanthegs That's odd. I took your code and ran it with just few modifications to make it compile and it performed as I expected (except for the 404 instead of the 429). Exceptions are certainly being caught as they are supposed to.

There is no such thing as "uncatchable exceptions" in .NET. An exception like `ThreadAbortException` will be rethrown in the `catch` making it sort of "un

[2018-01-04 14:02] glooydatonnookanthegs commented on #401
@Liversage
I created a screenshot of what I'm seeing: https://i.imgur.com/dAwDTnB.png
It's not throwing the Exception correctly, otherwise it would mark the like where it is being Thrown in visual studio.
I added a WriteLine and some colourful markings.
Other Exceptions that are uncatchable are OutOfMemoryException & StackOverFlowException, so maybe this one is uncatchable?

[2018-01-04 14:31] glooydatonnookanthegs commented on #401
If I set `MaxRetryAttemptsOnThrottledRequests = 0` It throws the exception in a way that I can catch it.
But that's not advisable in production.

[2018-01-04 14:36] skram-softheme commented on #401
Hm, looks like retry policy is handling 429 exception, so you would catch it only if retry fails also.

[2018-01-04 19:19] ashwini-ms commented on #404
@JJ11teen , When you create a new account the host/Gremlin endpoint will change. The host name will look something like *.**gremlin.cosmosdb**.azure.com.

[2018-01-04 19:34] kirankumarkolli commented on #407
@sj218 is there a possibility of concurrent db delete?

[2018-01-04 19:46] kirankumarkolli commented on #379
@nshanb could you be more specific on if there any blocker here.
We will look at extending some of them in future.

[2018-01-04 19:47] kirankumarkolli commented on #399
@gcrossland-cosworth  apologies for the delay.

@rnagpal can you please take a look at this?

[2018-01-04 22:11] JJ11teen commented on #404
I missed that, and it seems to have done the trick! Thanks 😄

[2018-01-04 22:11] #404 closed

[2018-01-04 22:22] JJ11teen commented on #403
This seems to be fixed for me as of this morning - I'll leave the issue open in case you want to investigate further.

[2018-01-05 12:31] ealsur commented on #403
@JJ11teen Just a thought, did you regenerate the account keys in the time window when you experienced this error?

[2018-01-05 20:47] MayankSri commented on #126
I am getting this error intermittently:
[code]

The Document does exist in the collection

[2018-01-05 20:54] MayankSri opened #408 "Microsoft.Azure.Documents.ServiceUnavailableException - Microsoft.Azure.Documents.GoneException: The requested resource is no longer available at the server."
I am getting this error intermittently while the document exists in the collection:
[code]

[2018-01-06 22:14] jonathanfishbein1 commented on #202
This is still a problem for me.  It seems the error is showing up when my code is executed within the Azure functions runtime as the error doesn't happen when I unit test the code?

dotnet --version 2.1.3
Microsoft.Azure.DocumentDB.Core (1.7.1)
"azure-functions-core-tools": "^2.0.1-beta.22"
F#
Azure Functions

[2018-01-07 21:10] massoudm commented on #376
Hi joopscheer,
Did you find a solution for this? I'm experiencing similar behavior since a couple of days ago.

[2018-01-07 21:22] Liversage opened #409 "What culture does the built-in SQL function UPPER and LOWER use?"
To perform case insensitive queries in Cosmos DB I can use the SQL function `UPPER` to convert a string to upper case. Unfortunately, the documentation does not specify how this conversion is done. Different cultures does it in different ways.

A good test case for case conversion is the lower case dotless I `"ı"` and the capital dotted I `"İ"`. These letters are used in the Turkish language so if

[2018-01-07 22:36] JJ11teen commented on #403
Mmm, thinking back I believe I did yes.

[2018-01-08 07:53] handeeadiguzel commented on #312
Having the same issue using Azure Functions V2 (1.0.7)

[2018-01-08 13:23] ealsur commented on #403
@JJ11teen Portal maintains a cache on the keys on the Data Explorer, if you regenerated the keys it could probably be related to the cache not being refreshed yet or the regeneration of the keys not completing, and thus the keys used to access the data were incorrect and created a transient error.

[2018-01-08 19:38] jonathanfishbein1 commented on #183
I'm getting the same error described here

https://github.com/Azure/azure-documentdb-dotnet/issues/173

[2018-01-08 20:20] jonathanfishbein1 commented on #173
@FelschR where you able to find a solution to this?  I have exactly the same issue

[2018-01-08 20:36] kirankumarkolli commented on #400
@JamesPSScott are you still facing the issue?

Did you follow instructions at https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator#troubleshooting

[2018-01-08 22:39] JJ11teen commented on #403
This lasted across multiple browser sessions, is that expected?
Does the cache normally refresh with a key regen? (and therefore the solution would be to regenerate again)

[2018-01-09 00:33] bchong95 commented on #173
Hi,

Is predicate part of the supported LINQ operators?

https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-sql-query#Linq

Scroll down to "List of supported LINQ operators".

Basically if you do something like `.Where(c => MyCustomFunction(c) == false)` this is going to cause an exception, since the Microsoft.Azure.Documents.Linq code does not know how to translate that to a SQL query.

I t

[2018-01-09 04:17] MCrank commented on #284
I am having the same issue.  Is there any update on when the ConnectionPolicy.DisableSSLVerification option will be included in .net core client?  Doing any work in containers on a Windows machine with CosmosDB emulator running on localhost is pretty much moot without it.

[2018-01-09 12:12] JamesPSScott commented on #400
Yes, I'm still experiencing the issue.  I converted all of my code over to not use direct TCP for now.  Unfortunately it was the only way I could proceed with nobody to help me.

[2018-01-09 12:26] altenstedt opened #411 "Order-by is not supported for the target resource type"
I get an error "Order-by is not supported for the target resource type." from my call to the `query.ExecuteNextAsync` method when I create the following query:

[code]

If I run the following query in Microsoft Azure Storage Explorer, or directly in the Azure Portal, it works just fine:

[code]

Why does my C# code fail, when the direct SQL query in the Portal works?  What can I do to debug this i

[2018-01-09 14:11] MovGP0 commented on #202
I have the same problem with an LinqPad script referencing `Microsoft.Azure.DocumentDB.Core` version 1.7.1.

[2018-01-09 22:32] moderakh commented on #411
@bchong95 can you please respond to this question?

[2018-01-09 23:39] kirankumarkolli commented on #408
@MayankSri could you please send mail to askcosmosdb@microsoft.conm with full exception details and account information and we will take a look into it.

[2018-01-10 21:58] Liversage commented on #409
Perhaps my issue is written in a very complicated way. I would like to rephrase it into this hopefully simpler question that should have a clear answer:

I have a user collection with documents that have a `name` property. I want to perform queries for parts of the name in a case insensitive manner. I do this by converting the name to upper case. I'm using C# and LINQ:

    var queryable = client

[2018-01-11 00:32] PlagueHO opened #412 "[Feature] Enable Custom Headers to be sent in DocumentDB Requests"
We would like to put a reverse proxy between calls from our (Azure Function) APIs and the CosmosDB endpoint to enable us to implement a second layer of security validation around the CosmosDB endpoint. We would like to be able to include a JWT as an additional request header in all calls to the CosmosDB.

The reverse proxy would receive the request, validate the JWT in the additional header (strip

[2018-01-11 09:05] Geetarman opened #413 "cosmos graph api gremlic syntax error"
I am entirely new to graph databases and I am basically getting to grips the concepts and language by following a tutorial (sql2gremlin)

The following query returns a list of strings that are valid
g.V().has("administrator","stuart.evens@widget.com").values("companyName")
returns

[Widgets Inc,Widgets Inc (uk)]

According to the tutorial the following should return a list of the string lengths of

[2018-01-11 19:57] olivertowers commented on #413
You are making use of a groovy lambda expression `{it.get().length()}` on a `map` step which CosmosDB Graph implementation of gremlin does not support.

We have previously received feedback on supporting string predicates/functions we are currently reviewing these asks.

We don't have plans to add support for lambdas at this stage. Tinkerpop [recommends](http://tinkerpop.apache.org/docs/current/re

[2018-01-11 23:33] kirankumarkolli commented on #412
@PlagueHO this is an abstraction which can be achieved on top of existing SDK. Please check sample at https://github.com/Azure/azure-documentdb-dotnet/tree/master/samples/xamarin also covers similar scenario.

[2018-01-11 23:37] kirankumarkolli commented on #408
@MayankSri closing the issue. Feel free to re-active in-case your issues is not addressed.

[2018-01-11 23:37] kirankumarkolli commented on #407
@sj218 any update?

[2018-01-11 23:37] #407 closed

[2018-01-12 06:11] PlagueHO commented on #412
Hi @kirankumarkolli - first of all, thank you for your response! It is much appreciated.

I am aware of this pattern and had actually implemented as a POC. Unfortunately our security team is still not happy with the approach because it does not reduce the **impact** of a CosmosDB master key being obtained by an attacker. They do agree that with proper management of the master key (Key Vault, RBAC

[2018-01-12 10:44] mattfrear commented on #342
Same boat here. Since changing my production code to access RequestCharge and ETag in the ResourceResponse, my test code blows up with NullReferenceExceptions

[2018-01-12 11:05] MovGP0 commented on #318
I have the same issue. I want a test instance that I can include as a NuGet package and instantiate and throw away in my integration tests. Similar to [Microsoft.AspNetCore.TestHost.TestServer in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/testing/integration-testing).

Having the emulator is not a real solution, because
- it needs to be installed on the CI server
- it needs to be c

[2018-01-12 14:38] ealsur commented on #403
Sorry for the delay @JJ11teen , cache does not seem to regenerate on the Graph access. We are working on a new connection experience to be released shortly that will eliminate this scenario completely and speed up the graph query results. Do you keep having this issue or can I close the issue?

[2018-01-13 05:14] JJ11teen commented on #403
Good to know it will be fixed soon!

[2018-01-13 05:14] #403 closed

[2018-01-14 18:24] jg11jg commented on #312
me too - an azure functions app targeting .net standard 2.0

[2018-01-15 08:59] sj218 commented on #407
Sorry i was out for couple days. No possibility of concurrent delete. I am not deleting via code and i did not delete it manually either. I had 2 concerns regarding this -
1. Is the CreateDbIfNotExists and CreateCollectionIfNotExists methods thread safe on server?
2. Is it recommended to cache collection links at client side? Is there any advantage of using collection uri over cached collection li

[2018-01-15 13:57] web265p3 opened #415 "Array functions on objects are not supported by MongoDB driver for CosmosDB"
In MongoDB, if I group by a key, where the object containing the key contains an object, I can use array functions to get properties of this object in the result view.

Here is an easy example

We have a collection with two documents:

[code]
and
[code]

I now want to group this data by the Id (so in my case I have only one group as a result), but put the fuel properties in the result:

[code]

Th

[2018-01-16 17:33] LastTribunal commented on #262
why are you closing the issue, what was fixed retard?

[2018-01-16 23:33] naveenaggarwal opened #417 "Getting Resource Not Found in Azure Cosmos DB"
Hi We are facing issue while querying . The document exists in the database.

"Message: {\"Errors\":[\"Resource Not Found\"]}\r\nActivityId: 03866338-6596-49b6-8704-1726cb373bfb, Request URI: /apps/ab277caf-ee90-4cc3-96cb-4d4ec5ae2b13/services/17e48284-a3a0-40c5-b5ec-40bd3f207472/partitions/27cb7777-5add-4f72-8a73-1fc8fe34e7bf/replicas/131603393672093060p/, RequestStats: , SDK: Microsoft.Azure.Doc

[2018-01-17 07:33] benmccallum commented on #194
I seem to have got the same issue on my Windows laptop. Worked fine on my Windows desktop.

Changing my connection policy from `new ConnectionPolicy() { ConnectionMode = ConnectionMode.Direct, ConnectionProtocol = Protocol.Tcp };` to simply `new ConnectionPolicy();` did the trick but obviously the performance recommendation is to use Direct + TCP. Could it be that I don't have a Windows feature en

[2018-01-18 04:58] olivertowers commented on #383
Closing issue since a workaround has been provided and the issue is not specific to Microsoft.Azure.Graphs.

[2018-01-18 04:58] #383 closed

[2018-01-18 05:04] olivertowers commented on #388
Closing this issue. There aren't any plans to change layout of edges in partitions and we aren't seeing enough demand for this feature.

[2018-01-18 05:04] #388 closed

[2018-01-18 09:27] Geetarman commented on #413
OK thanks.  Is there some reference somewhere which would tell me what and what is not supported.  I am having difficulty finding documentation and good examples of CosmosDB graph...

[2018-01-18 11:15] dmcweeney opened #418 "Linq Where IN enum handling problem"
Hi,

Noticed the following problem last night.

I have a property on the document defined as follows where ChangeType is an enum:

[code]
The following Where equals clause correctly converts to the enum string value:

[code]
The following Where contains clause incorrectly converts to the enum decimal values, but should be converting to a list of string values:

[code]
Using Microsoft.Azure.Documen

[2018-01-18 17:44] olivertowers commented on #413
The [https://docs.microsoft.com/en-us/azure/cosmos-db/gremlin-support](Gremlin support) page has details on what is supported by CosmosDB. The page does need to be improved with more details, specifically on lack of lambda and scripting support, but in the meantime we can answer questions

[2018-01-19 15:21] consoleit commented on #399
I'm getting the same error with a Xamarin forms application. But I just tried of adding the dll as a manual reference than nuget and it worked. I think the issue may be the long path to the dll as it's runtime path is very long

[2018-01-19 17:55] jpascale opened #419 "Cannot use reserved word "value" as an alias"
I'm using the documentdb dependency for node and I have the following query, which doesn't work:

`SELECT c.id as value FROM c`

and the error message i'm getting is:
[code]

but this one works:

`SELECT c.id as valuee FROM c`

Is there any way of escaping the `value` reserved word?

The output i'm trying to get is the following:

[code]

Thanks in advance.

[2018-01-21 00:04] takekazuomi commented on #253
@rnagpal ping

[2018-01-21 01:52] rnagpal commented on #253
@kirankumarkolli Are you aware of this limitation in our SDK?

[2018-01-22 06:28] joopscheer commented on #376
There hasn't any been any activity on this issue for weeks @massoudm. Unfortunately!

[2018-01-24 14:38] wasabii commented on #312
Issue just started happening for me, too.

[2018-01-25 22:38] moderakh commented on #417
@naveenaggarwal what's your indexing policy? Please be aware that if you are using lazy indexing there might be lag for your inserted documents to be discoverable by your queries.

[2018-01-25 22:42] kirankumarkolli commented on #400
@JamesPSScott  did you send mail to askcosmosdb@microsoft.com with the details mentioned in above thread?

[2018-01-25 22:45] kirankumarkolli commented on #412
@PlagueHO does limiting access to cosmos account to an azure VNET work in this scenario?

With that cosmosdb will only accept requriest for you configured account from with-in that VNET.

[2018-01-25 22:59] sboshra commented on #419
You can't escape 'value' here because it's an alias and the grammar requires it to be an identifier.
However, you could rewrite the projection to be an explicit JSON object where the alias becomes a property name.

So the query above would look something like this:
SELECT VALUE {'value': c.id }
FROM c

[2018-01-25 23:49] bchong95 commented on #418
Can you provide us both linq queries in full and what sql queries they translate to (you can get this by running .ToString() on the documentQuery).

Can you also see if this issue repros in the latest SDK?

Thank you.

[2018-01-25 23:50] bchong95 commented on #418
@khdang Could this have something to do with Newtonsoft Json Serializers?

[2018-01-26 11:30] dmcweeney commented on #418
Hi @bchong95 Apologies but I changed the code back to persist the enum value as int so I cannot reproduce. The linq query in full would have been like:

[code]
Hope this helps...

I only just saw that 1.7.1 is released - but wont be able to test on this as code is reverted...

Thanks

Donal

[2018-01-26 12:16] JamesPSScott commented on #400
Well the last few times I sent anything to askcosmosdb@microsoft.com OR the docdb email before that I didn't get a response, so I wasn't sure it would work this time either.  LOL

When I have some time I'll see if I can get those trace files packed up and send them over.

Thanks!

[2018-01-26 12:18] grahamehorner commented on #400
I’ve had the same experience with the email, not even a simple we got your email reply 😭

[2018-01-26 12:21] JamesPSScott commented on #400
@grahamehorner well that's good.  I thought it was just me LOL

[2018-01-26 12:28] grahamehorner commented on #391
I’ve been attempting to import the OSM dataset into a graph without success, I believe a batch feature would help as the number of RUs would as I understand it be reduced as a result

FYI https://planet.openstreetmap.org/

[2018-01-28 00:07] codekoenig commented on #312
I also have the issue in Azure Functions targeting .NET Standard 2.0 ... the `Microsoft.Azure.Documents.ServiceInterop.dll` is not in the bin folder, not in any NuGet package ... I don't even know where to get it from to add it manually.

However, I added a reference to the full .NET Framework NuGet package of Documentdb (1.19.1) in **addition** to the .NET Core DocumentDb NuGet package ... and no

[2018-01-28 02:59] jg11jg commented on #312
I also solved it by upgrading to 1.19.1.  I put the details on SO.  https://stackoverflow.com/questions/47087725/unable-to-load-dll-microsoft-azure-documents-serviceinterop-dll-using-microso/48252893#48252893

[2018-01-28 21:56] bchong95 commented on #376
Hi @joopscheer sorry losing this mid flight?

Can I see your indexing policy? I think you might need a range index with higher precision on the Name property.

Thank you

[2018-01-28 23:44] zelsius opened #424 "ExecuteNextAsync and Enums"
Just discovered that when I try to run a query on a specific object type, it seems that Enums are not respected.  It tries to parse Enum values which belongs to another object, and is not defined in the object I run a query for.

Enum value Open exists in another Enum type called FindingCategory, and this property does not exist in the object I am querying.

Exception:

[code]

All my enums are de

[2018-01-29 08:46] joopscheer commented on #376
I'm not using a specific index on the Name property. Just a default index on the data type string. According to the documentation '-1' is needed to support sorting.

[code]

[2018-01-29 10:05] BenjaBobs commented on #413
What are your thoughts on adding support for lambdas for now so we have something we can work with, and then gradually replace with your extension alternatives as they are released? I'm working on a project where I need to add support for querying on string values with predicates such as startsWith() or contains(), and I'd rather not do it on the entire result set after doing the gremlin query.

I

[2018-01-29 15:45] sachpatel commented on #185
I had the "Service Unavailable" issue with Azure Cosmos DB Emulator. It was caused by a Mcafee firewall. If you turn it off and use Windows Firewall, when launching the emulator it will ask about rules to put into the Windows Firewall which will allow the emulator to work. I can now use the Data explorer Web UI to create collections etc. 😄

[2018-01-30 04:59] olivertowers commented on #413
Adding support for lambdas in CosmosDB will be more difficult due to a number of technical blockers that would need to be resolved. Consequently, extending gremlin to support string predicates (and other string functions) will be the easier path.

In addition, adding support for string functions is already planned for Q1, and we will provide more details and announcements closer to the availabilit

[2018-01-30 07:45] BenjaBobs commented on #413
Sounds great, looking forward to the announcement!

[2018-01-30 09:06] vaskravchuk opened #425 "Linq expression produces large sql query"
i have following linq query:
`.Where(e=>ids.Contains(e.id))`

where ids is IEnumerable<string> with list of rather big strings (ldap DN)
this linq expression produces sql which throws error:

`{"errors":[{"severity":"Error","location":{"start":0,"end":60787},"code":"SC3020","message":"The SQL query text exceeded the maximum limit of 30720 characters."}]}`

but when i write sql query manually and p

[2018-01-30 09:31] JJ11teen opened #426 "Graph - Date string values return invalid json"
If you add a property with a datetime string in form of _2018-01-30T00:00:00Z_ the gremlin console throws an error if you try to read back that value with .values(). Note that .properties() returns the value correctly.
[code]

Possibly related to #271, #281, and #396

[2018-01-30 09:35] JJ11teen commented on #426
Just tested it and the same error is hit if you query using the .NET SDK.

[code]

[2018-01-31 06:13] steevcoco opened #427 "Asymmetric handling of DataContract with "Id" DataMember"
Hello ... I am completely new to DocumentDb (and want free advice Lol) -- I am just running simple tests.

If I push an object that is `DataContract` and defines a `DataMember` named "Id" --- which I set myself. Then when reading back the object, AND then casting through `dynamic` to my own type, then that `DataMember` is set from the database "id" --- which doesn't seem symmetric at least.

I don

[2018-01-31 21:41] ashwini-ms commented on #315
@dotsad/ @bartdotnet .. Apologies for a delayed response. The issue is fixed in the latest SDK and service release. Can you please verify once?

[2018-01-31 22:19] kirankumarkolli commented on #425
@bchong95 please look into this

[2018-01-31 22:19] kirankumarkolli commented on #425
@bchong95 please look into this

[2018-01-31 22:20] kirankumarkolli commented on #424
@bchong95 please look into this

[2018-02-01 00:02] kirankumarkolli commented on #427
Yup this is an issue will name collision. This is an issues with Newtonsoft json deserialzier https://github.com/JamesNK/Newtonsoft.Json/issues/815

Implementation here actually delegated the conversion to Newtonsoft json through Object.ToObject<T>().

One alternative is to use different NamingStrategy which will avoid the conflicting names.

[2018-02-01 00:04] kirankumarkolli commented on #419
Resolving the issue, please re-open in-case needed.

[2018-02-01 00:04] #419 closed

[2018-02-01 05:05] trickpatty commented on #312
I had this issue with my Azure Function as well. Solved by uninstalling all the NuGet packages and re-installing the latest Microsoft.NET.Sdk.Functions and Microsoft.Azure.Graphs (which depended on Microsoft.Azure.DocumentDB). A tutorial I was following recommended installing Mono.CSharp. However, by not including this package, my function ran successfully both on my local machine and in Azure.

H

[2018-02-01 15:48] rposener commented on #202
Same error here targeting netstandard2.0 with these nugets:

`
    <PackageReference Include="Microsoft.NET.Sdk.Functions" Version="1.0.6" />
    <PackageReference Include="Sendgrid" Version="9.9.0" />
    <PackageReference Include="StrongGrid" Version="0.35.0" />
    <PackageReference Include="Microsoft.Azure.DocumentDB.Core" Version="1.6.0" />
    <PackageReference Include="Microsoft.NET.Sdk.Fun

[2018-02-02 05:34] loneshark99 commented on #312
It happens for me as well.

Unable to load DLL 'Microsoft.Azure.Documents.ServiceInterop.dll': The specified module could not be found. (Exception from HRESULT: 0x8007007E) | Unable to load DLL 'Microsoft.Azure.Documents.ServiceInterop.dll': The specified module could not be found. (Exception from HRESULT: 0x8007007E)
-- | --
Unable to load DLL 'Microsoft.Azure.Documents.ServiceInterop.dll': The s

[2018-02-02 05:59] kirankumarkolli commented on #312
@loneshark99 what is the project type (Framework, Core, Standard)? Also is SDK nuget installed in the project or in the reference project?

[2018-02-02 06:01] kirankumarkolli commented on #202
@rposener core nuget on standard project failed but fx nuget worked?

[2018-02-02 06:02] kirankumarkolli commented on #202
@ealsur could you please take a look at the azure functions issue mentioned by @jonathanfishbein1?

[2018-02-02 06:06] kirankumarkolli commented on #400
@JamesPSScott apologies for your prior experiences. Please do try once more sending mail to askcosmosdb@microsoft.com with details and we will respond to it.

[2018-02-02 06:07] kirankumarkolli commented on #173
@FelschR please free to re-open if needed.

[2018-02-02 06:07] #173 closed

[2018-02-02 11:23] FelschR commented on #7
I have set JsonProperties on all my members that I want to serialize.
But I still had a strange issue that caused my objects to have BOTH instance members as well as dynamic(?) members under "Static members" -> "propertyBag" (seen in debugging mode).

The funny thing is when I change a property of one of those objects and serialize it the JSON will not have changed because it seems to retrieve the

[2018-02-02 13:18] rposener commented on #202
@kirankumarkolli yes, had to have both but then works targeting netstandard2.0 on windows machine.

[2018-02-02 13:24] ealsur commented on #202
@rposener Are you adding both Functions Sdk versions to the same project? Are you deploying the Function as a pre-compiled function to a Function App in App Service Mode? Is the App Service a Linux version or Windows?

[2018-02-02 15:11] loneshark99 commented on #312
@kirankumarkolli  Sorry it was my issue, I added the .core nuget instead of the client one. Its gone now.

[2018-02-02 19:22] olivertowers commented on #396
@burikella Fix for this bug has been committed and will be rolled out with the next service release.

Thanks for reporting this issue!

[2018-02-02 19:23] olivertowers commented on #426
@JJ11teen confirmed this is a bug and work on the fix is in-progress.

Thanks for reporting this.

[2018-02-03 05:13] steevcoco commented on #427
Wow! Thanks ... I'm really hoping that there is not too much lean away from DataContract and concretely coupled structure ... In fact, just the opposite ...

I will certainly comment there.

[2018-02-03 14:22] zelsius commented on #424
After some further debugging I have found out that TEntity is not being used in a CreateDocumentQuery. It seems that if I try to run a FindAsync query of type Template it also returns Submissions and other documents containing that value.

[2018-02-03 20:59] burikella commented on #396
@olivertowers Thank you!

[2018-02-04 00:26] jonathanfishbein1 commented on #202
@ealsur Thanks for your response.  I am deployed pre-compiled code.  I'm using

azure-functions-core-tools": "^2.0.1-beta.22

I have fixed the problems by adding a script that adds
DocumentDB.Spatial.Sql.dll

and

Microsoft.Azure.Documents.ServiceInterop.dll

to the target folder

[2018-02-04 13:55] steevcoco commented on #427
I thought I should post a comment here because I made a comment over on the NewtonSoft list ...

It might not be the most critical possible viewpoint, but I HAVE to say that it's a bad experience to have it linger that "there is a case insensitivity that might mean X_Y_Z in your model". That's a headache.

DataContract has been a very rock solid --- AND obvious. Now there is a new headache about t

[2018-02-04 15:28] steevcoco commented on #202
I am seeing the same exception.

"Unable to load DLL 'Microsoft.Azure.Documents.ServiceInterop.dll': The specified module could not be found. (Exception from HRESULT: 0x8007007E)"

It's in an Azure Function App, V2 preview; in Visual Studio (precompiled --- and not yet deployed at all).

The exception is raised at

    IDocumentQuery<T>.ExecuteNextAsync<T>()

Neither Microsoft.Azure.Documents.Serv

[2018-02-05 00:44] johlrich commented on #344
It looks like a new version of the package hit nuget last week without netstandard support. Any updates to when we can expect to see that?

[2018-02-05 16:57] yaronyg commented on #344
We are still on the same schedule as I previously specified, first 1/2 of 2018.

[2018-02-06 01:19] lukenuttall commented on #351
I'm having the same problem. It only work if I decorate the property with [JsonProperty(username)], which works, but it's a pain.

[2018-02-06 17:00] galvesribeiro commented on #257
Hey Folks. Any update on that matter?

[2018-02-06 19:38] tonyferrell commented on #121
Any word on this? I have a workaround (copied below for others hunting for solutions) but it would be really nice to be able to properly manufacture a `DocumentClientException`

As a work around, I've been using this method to generate exceptions:
[code]
Of course you can use other constructors depending on your needs.

[2018-02-07 01:09] kirankumarkolli commented on #121
Apologies for the in-convenience. Mocking SDK is a top ask and is committed deliverable for first half od 2018.

Meanwhile reflection is the way around and thanks @tonyferrell for sharing a sample reference.

[2018-02-07 01:12] kirankumarkolli commented on #351
@mattdone01 , @lukenuttall serializer usage shouldn't be intermittent for the same workload. If possible could you please share the repro?

[2018-02-07 01:15] kirankumarkolli commented on #202
@steevcoco, @rposener could you please share the repro projects for us to troubleshoot this further.

cc: @ausfeldt

[2018-02-07 02:13] #417 closed

[2018-02-07 02:19] kirankumarkolli commented on #373
Please re-active is possible with a repo details.

[2018-02-07 02:19] #373 closed

[2018-02-07 02:21] kirankumarkolli commented on #363
Please follow troubleshooting instructions at https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator#troubleshooting and send mail to askcosmosdb with the required details.

[2018-02-07 02:21] #363 closed

[2018-02-07 02:22] #347 closed

[2018-02-07 02:23] #346 closed

[2018-02-07 09:48] MovGP0 commented on #202
as a reference, this one is working for me:
[code]

[2018-02-07 12:51] edwarder86 opened #428 "Allow Connection Limit when running Direct Mode"
When running in Gateway Mode there is a connection limit setting to limit the number of open connections to CosmosDB.  This is useful when running an Azure Function that connects to CosmosDB as it keeps the function from exceeding the 300 connection limit enforced on functions running in Azure.

However, this connection limit setting is ignored in Direct Mode.  As a result I have found that if I r

[2018-02-07 13:18] vinoddamupatil commented on #227
As per following this method is available:
https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.documents.client.documentclient.readdocumentasync?view=azure-dotnet#Applies_to

But still not found while i had installed latest  package Microsoft.Azure.DocumentDB 1.20.0

[2018-02-07 21:45] farlee2121 commented on #257
If you just need a graph anywhere, SqlServer now has graph features and limited Entity Framework compatibility. EF only works for CRUD, not graph features.

[2018-02-07 22:31] galvesribeiro commented on #257
@farlee2121 thanks for the reply but no, SQL is not an option.

[2018-02-07 22:38] LuisBosquez commented on #257
Hello @galvesribeiro! We are currently working on improving the compatibility with [Gremlin Language Variants](http://tinkerpop.apache.org/docs/current/tutorials/gremlin-language-variants/) that would basically enable type safe usage of Gremlin in apps.

[2018-02-07 22:54] galvesribeiro commented on #257
@LuisBosquez do you have any ETA? We are almost one year with the product released and still no support for .net basic features like lambda or even typesafe :(

[2018-02-08 17:49] ealsur commented on #428
@edwarder86 You mention that you are using the DocumentClient as a singleton, is that implemented as a static instance?

[2018-02-08 19:01] steevcoco commented on #202
Hello @kirankumarkolli

I cannot easily share the code ... It is in two internal repos. If out of desperation it would be helpful, I could try and arrange something.

I can cure the problem here; and I can explain.

To cure it, I simply need to manually copy the assemblies to my own bin directory:
Microsoft.Azure.Documents.ServiceInterop.dll
DocumentDB.Spatial.Sql.dll

This is a Function Apps v2 A

[2018-02-08 19:06] edwarder86 commented on #428
Yes, it is a static instance.

[2018-02-08 19:51] ealsur commented on #428
Thanks! Just making sure. Aren't you connecting to any other service in the Function? Any other HTTP request that could be raising the connection limit?

As far as I know, using a static / singleton instance should not raise the amount of connections.

[2018-02-08 20:11] ealsur commented on #428
Additional info regarding the Connection Limit in Functions: https://github.com/Azure/azure-functions-host/wiki/Managing-Connections

[2018-02-08 20:28] edwarder86 commented on #428
CosmosDB is the only thing it connects to.  The problem is that I'm calling the function millions of times a day and sometimes in very large spikes.  Using Gateway Mode and setting a limit of 200 works fine for me.  If Direct Mode would support the same Conneciton Limit as Gateway Mode does I am confident that it work work just fine as well.

[2018-02-08 20:30] ealsur commented on #428
Makes sense, will leave the comments to the SDK experts, I'm not familiar on how Direct Mode works with connections as a Singleton, just wanted to rule out any common issue on Functions environment,

[2018-02-09 14:15] hghansen commented on #185
Encountered the Service Unavailable issue today (been working fine for long).

Using the "Reset data..." option did the trick for me.

[2018-02-09 16:49] kz1000fan commented on #141
@rnagpal I've recently converted a project that was using net451 and DocumentDb SDK 1.19.1 to one that uses netcoreapp2.0 and DocumentDb-netcore-SDK 1.7.1.  I'm seeing this error when running unit tests in the new environment.  Is there a chance that the above-mentioned fix didn't make it into the netcore code path, or could I be running into a separate issue?  Note that the unit tests do indeed d

[2018-02-09 22:47] kwilkins commented on #202
I ran into this problem today, I had to manually copy Microsoft.Azure.Documents.Client.dll into the parent project's bin folder.  It was in my project that directly referenced DocumentDB, but the other project that consumed it only had Microsoft.Azure.Documents.ServiceInterop.dll and would fail at runtime when looking for Microsoft.Azure.Documents.Client.dll

Hope this gets resolved soon, I love u

[2018-02-10 06:11] jamesmontemagno commented on #399
I can also confirm this does seem to be an issue, will try the work around, but was getting the issue on VS for Mac too

[2018-02-10 06:12] jamesmontemagno commented on #399
It looks like it has the wrong references. Perhaps this wasn't packaged correctly:

[code]

[2018-02-10 06:23] jamesmontemagno commented on #399
I should mention that I am consuming a .NET Standard 2.0 library that also has the nuget installed.

I remove the NuGet from the iOS project and it still had issues. I had to remove it from the .NET Standard project as well. Then it would build again.

[2018-02-10 20:45] jackbond opened #430 "Hire competent product manager"
When the Nuget version for these packages is higher than the release notes, SOMEBODY ISN'T DOING THEIR JOB. This is NOT a new problem.

SDK release notes (only when the lazy hack decides to do his job)

https://github.com/Azure/azure-documentdb-dotnet/blob/master/changelog.md
https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-sdk-dotnet

My guess is that I'm going to wait a few days and get

[2018-02-11 06:59] kirankumarkolli commented on #430
@jackbond release notes updates goes through documentation release process and which takes around 1 business day. Github release note is updated with 1.20.1 release notes.

[2018-02-11 06:59] #430 closed

[2018-02-11 07:09] kirankumarkolli commented on #427
@steevcoco work-around is to use different NamingStrategy to avoid the conflicting names.

[2018-02-11 07:09] #427 closed

[2018-02-11 07:10] #185 closed

[2018-02-12 00:57] bchong95 commented on #368
@dagtveit as you have experienced first hand FeedOptions.MaxItemCount = 10 only guarantees that you will at most get 10 items per continuation, but still means you could get an empty continuation.

This blog post explains how you can reliably page through the results:

https://www.kevinkuszyk.com/2016/08/19/paging-through-query-results-in-azure-documentdb/

[2018-02-12 01:12] bchong95 commented on #374
Sorry for the late response. As of right now our indexing policy does not support MultiLineString:

https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-sdk-dotnet#1.10.0

The supported types are Point, LineString, Polygon, (and soon MultiPolygon).

So we don't publicly have a DOM available for it, since to our backend it looks the same as a document that happens to have all the properties of

[2018-02-12 01:17] bchong95 commented on #376
Can you try with this:

[code]

Without the second overload on RangeIndex I think you end up with the default, which I believe is 3.

Thank you.

[2018-02-12 01:20] bchong95 commented on #398
This is a bug. What was happening is that you hit the code path that checks to see if the continuation token is valid. If it is invalid it print the token and we also trace the state. Unfortunately when we are tracing the state there is a chance that there is no document producer (which is guarenteed for your case where you are resuming form a continuation token). Basically the useful exception me

[2018-02-12 01:22] bchong95 commented on #409
Thank you for the detailed description.

This is a very fair ask and we have an internal work item for this. I will update the thread if the work item has updates.

[2018-02-12 01:28] bchong95 commented on #411
@altenstedt I think the issue is in:

[code]

Try CreateDocumentQuery() with the appropriate overload.

Thank you.

[2018-02-12 09:46] Geetarman opened #431 "Firewall issue"
In the firewall settings for my cosmos db account I have the setting "Allow Access to Azure portal" turned OFF.
I can't see what this is preventing me from doing in the portal. I can still browse and view documents, I can still scale the settings up and change the indexing policy etc.

Is this not working correctly or is it a misunderstanding on my part.

regards

[2018-02-12 12:04] joopscheer commented on #376
Under "Scale & Settings" in the Azure Portal the indexing policy looks like this:
[code]

No need to set the scale to '-1' for the RangeIndexes.

[2018-02-12 22:30] bchong95 commented on #425
You are seeing a common issue with sql query text hitting 30,720 character due to having an unbounded array of ids in the query. If you run .ToString() on the LINQ query you can see the sql query that is generated. Currently LINQ translates `.Where(e=>ids.Contains(e.id))` to an IN query instead of ARRAY_CONTAINS. The later can be parameterized while the prior can't be.

To get around this you have

[2018-02-12 22:45] bchong95 commented on #424
I think you are running into a query language limitation. The backend is schema free meaning that it will match whatever documents that predicate should match to.

For example:

[code]

The backend will return all documents that have an Id field equal to "blah" regardless of the type of the object (since documents are schema free by nature). The client will then try to deserialize these documents

[2018-02-13 12:48] t03apt opened #432 "DocumentClient TransientFaultHandling in .NET Standard?"
Hi!

Are there any plans to migrate [Microsoft.Azure.Documents.Client.TransientFaultHandling](https://www.nuget.org/packages/Microsoft.Azure.DocumentDB.TransientFaultHandling/) to .NET Standard?

[2018-02-13 17:13] awcab commented on #432
Hey @t03apt it's now [included in the SDK](https://stackoverflow.com/questions/43261193/documentdb-transientfaulthandling-for-core/43276925#43276925)!

[2018-02-13 17:57] t03apt commented on #432
@awcab I think it is not. RetryOptions is not the same. It has two integer parameters and that's all. But TransientFaultHandling provided a way to implement custom retry strategies for example exponential retries.

[2018-02-13 19:01] hemantkr commented on #428
We are working on adding this feature. Please stay tuned.

[2018-02-13 19:08] edwarder86 commented on #428
Thank you for the update.

[2018-02-13 19:33] hemantkr commented on #431
Can you please confirm that you haven't enabled Allow access to azure services. If you have enabled this setting it allows any service deployed in Azure to access the database. Therefore, the portal IPs are also allowed.

[2018-02-13 20:08] EricDahlvang commented on #219
+1

[2018-02-13 20:57] johlrich commented on #194
Just ran into this today. Any ETAs for netstandard2.0 support mentioned by @rnagpal back in June 2017?

Is this documented anywhere beyond this issue? A simple statement right under the recommendation to use TCP+Direct saying it is only supported on windows would have been a huge time saver here.

[2018-02-13 22:33] t03apt commented on #17
@ryancrawcour
I still can't find the source code. Is it still kept in private or can be accessed somewhere else?

[2018-02-13 22:39] ryancrawcour commented on #17
It is still not available.

[2018-02-14 01:03] benmccallum commented on #194
@johlrich , in my case it didn't even work on Windows so... Weird. Worked on laptop, not on desktop, both Win10.

[2018-02-14 09:24] akuzhan opened #433 "DocumentClient dispose throws object reference not set to an instance of an object"
Hi,

we get object reference not set to an instance of an object exception when we dispose documentclient time to time. It is quite irregular. Do you have any fix or workaround for this one?

Package version: 1.19.1
Target Framework version: 4.6.1
It is a WebAPI project.

Here is the exception;

Object   reference not set to an instance of an object.
--
Microsoft.Azure.Documents.ConnectionPoolMana

[2018-02-14 11:45] Geetarman commented on #431
OK - this is confusing as the portal doesn't really indicate this is the case.  With 'Allow access to Azure Portal' OFF and 'Allow Access to Azure Services' ON it is displaying the following message.

Without portal access enabled, you will not be able to perform any operations on collections or documents within this account from the portal. Please turn on “Allow access to Azure Portal” if portal

[2018-02-14 15:53] MovGP0 commented on #202
still not working in `Microsoft.Azure.DocumentDB.Core` version `1.8.1` when using LinqPad.

[2018-02-14 16:09] jamesmontemagno commented on #399
Looks like if we use; https://www.nuget.org/packages/Microsoft.Azure.DocumentDB/ then there aren't any issues

[2018-02-14 21:15] mrward commented on #399
I believe this is a Mono MSBuild bug:

https://bugzilla.xamarin.com/show_bug.cgi?id=57229

Currently Mono's MSBuild is adding win runtimes to the project.assets.json file when it runs a restore.

You should be able to workaround this by changing the runtime identifiers in the iOS project. Adding the following to iOS project, running a restore again, then building, and all is good again.

    <Runt

[2018-02-15 07:08] Chappie72 commented on #128
Hi DocumentDB team. Any update on the time lines for this?

[2018-02-15 11:36] reddy6ue commented on #219
+1

[2018-02-15 15:02] cyberprune opened #434 "Proxy Server Support in .NET Core"
Is it possible to set a proxy server for the .NET Core client, with proxy authentication too?

I have tried setting the ConnectionPolicy.ConnectionMode to Gateway and ConnectionPolicy.ConnectionProtocol = Https, but it doesn't automatically pickup the current proxy. I can't see any way to provide a HttpClientHandler to set proxy details.

[2018-02-15 15:26] t03apt commented on #17
:( I think this issue shouldn't really be closed.

[2018-02-16 10:18] steevcoco opened #435 "Microsoft.Azure.Documents.Document is defined in both Microsoft.Azure.DocumentDB.Core and Microsoft.Azure.WebJobs.Extensions.DocumentDB"
I have an issue with being able to define `Microsoft.Azure.Documents.Document` helpers in a shared library, and use them in a function app that imports `Microsoft.Azure.WebJobs.Extensions.DocumentDB` for Cosmos bindings. (The function app is being written in Visual Studio on the net461 version --- and the class library so happens to be NetStandard2.0.)

My shared library references

    "Microsoft

[2018-02-16 14:06] DegJ commented on #409
I have just run into an issue for just this.
Example:
Data in Cosmos:
`{
  "City": "Örebro"
}`

If I now use the .net client to do a search with lowercasing (using a searchquery "ö" in his case (already in lower, no conversion needed)):
`.Where(x=> x.City.ToLower().Contains("ö".ToLower())`
It will not match any document (same with trying with uppercase "Ö" in searchquery.
It seems to not be workin

[2018-02-16 16:34] jasonchester opened #436 "Unable to use cosmos mongo api for form.io"
https://github.com/formio/formio is a popular (501 ⭐️) node application that allows for the creation and management of web forms and submissions. It uses mongoose as an ORM with mongodb as a backend.

When configuring form.io to use cosmos mongo api, the application fails when attempting to list collections...

    /**
     * Test to see if the application has been installed. Install if not.

[2018-02-16 16:42] Liversage commented on #409
@bchong95 I just noticed your edit:

My question is basically what is the default in Cosmos DB? I assume that Cosmos DB is not built using .NET so "what `CultureInfo` Cosmos DB uses" is not a good question. However, it must still use some specific rules for `UPPER` and `LOWER` and I'm asking about the details of these rules so I can use the same rules in .NET code.

I guess a solution to my specif

[2018-02-16 19:36] jwyoung9 commented on #202
I'm having the same issue with an Azure Functions v2 app and trying to use the DocumentDB.Core nuget package.  The two native DLLs are placed into runtimes\win\native in the bin folder, but when running under Azure Functions host, they are not located.  If I copy these two out of the native folder to the root \bin folder the code will work as expected.

I've seen someone mention adding a reference

[2018-02-16 20:13] steevcoco opened #437 "Azure portal for Graph Cosmos database does not visualize DataContract properties?"
Hi folks. I am new; but it seems that if I push an object into Cosmos, which has been set up with the Graph API --- and, this object is created as a `DataContract` object, and pushed with the .Net `DocumentClient` --- then in the Azure portal, the Graph node appears with the `id`, and `label` is always `"NativeVertex"`. And none of the object properties appear ... Is it some limitation, or somethi

[2018-02-16 20:39] kirankumarkolli commented on #435
@ealsur can you please look into this?

[2018-02-16 20:58] olivertowers commented on #437
**Short answer:** Graph explorer (and Gremlin) can only recognize vertices/edges and their properties if the backing Document matches the expected schema.

**Long answer:**
The primary usage pattern for CosmosDB Graph is to issue Gremlin queries via the Gremlin server endpoint. The Gremlin server reads/writes to the CosmosDB document storage backend and adheres to the schema requirements for repre

[2018-02-16 21:31] steevcoco commented on #437
OK ... Well that was an abundantly helpful reply @olivertowers !

I am new. I will be creating and storing objects like the above: all `DataContract`. I THOUGHT I would define the Cosmos DB as Graph because of the object relationships. --- Not shown above, I will have 'nested' objects within objects, just trying to work as much in C# as possible: some object will have a public `DataMember` propert

[2018-02-16 21:31] #437 closed

[2018-02-16 22:50] jasonchester opened #438 "Graph - Multiple issues with parsing of numeric constants in the graph gremlin query"
Steps to reproduce.

I have tested this with both the Document Client extensions in C# as well as the Gremlin.Net native connection integers behaved the same between both gremlin.net however floats were not consistent.

quick summary of the issues
* Negative sign lost in gremlin queries in both connections for ints/floats `g.V('').inject(-1)`
* Syntax for passing a float constant in gremlin.net is

[2018-02-16 23:06] ealsur commented on #435
@steevcoco I think your issue is because the `WebJobs.Extensions.DocumentDB` has a dependency on the `Microsoft.Azure.DocumentDB` nuget package.
If you want to work with Net Standard / Core, you might need to wait until Functions V2 is released, where the Cosmos DB Extension actually uses the Core package.

Or make your library use the `Microsoft.Azure.DocumentDB` package, and not the Core version

[2018-02-17 05:18] steevcoco commented on #435
Yes: OK ... sorry. I can see the dependencies! Just a little confused ... Since 461 can consume NetStandard, I assumed I'd make the shared library NetStandard ... I got a little turned around with some previewing too. It seems clear. Thanks!

[2018-02-17 05:18] #435 closed

[2018-02-20 00:50] jwyoung9 commented on #246
Also having this issue.  Any update?

[2018-02-20 22:04] kirankumarkolli commented on #434
@ausfeldt please look into this.

[2018-02-21 15:23] amoorthaemer opened #439 "Gremlin bytecode support"
Hi,

 I was playing around with Gremlin.Net (part of Apache TinkerPop) and I found out that it wasn't possible to you the fluent GraphTraversal API ... It seems that the Gremlin implementation of Azure CosmosDb doesn't support bytecode streams. Is that correct? And if so ... will this be supported in the (very) near future?

TIA

Bert

[2018-02-21 18:57] olivertowers commented on #438
Confirmed that these bugs exists:

- Negative signs being lost on ints/floats
- Failing to parse numbers with exponents.

Fixes for these issues are in-progress. Note that the fixes will be applied to the Gremlin Server (so accessible via Gremlin.NET) and won't be available for Microsoft.Azure.Graphs.

Regarding syntax round trip, can you clarify the specific issue?

If this is referring to the fo

[2018-02-21 20:33] olivertowers commented on #439
That is correct. We are planning on adding Gremlin bytecode support in the first half of the year.

[2018-02-22 09:38] amoorthaemer commented on #439
Ok tnx ... This gives me a timeline for the project I'm working on

[2018-02-22 20:55] steevcoco commented on #437
@olivertowers My humiliation not withstanding, I just wanted to note that I have made some changes and moved forward ... I have actually switched the Cosmos database to the Sql API, and things are working more smoothly. I wasn't actually benefiting from the Graph API, and I suppose I thought I might benefit from some more "plain object containment" model, but I'm not using the actual Graph API so

[2018-02-22 21:28] eanyanwu commented on #342
For anyone else who runs into the issue of mocking a ResourceResponse, you can use reflection as a **temporary** workaround. Using the CosmosDB Emulator was not a viable option for us. Tests go to go fast. 🐎

You can use the following helper method to create fake ResourceResponse objects with specific status codes and Request Charges. (With slight modifications, you can also set various other prop

[2018-02-22 23:16] olivertowers commented on #437
@steevcoco  Sorry for not replying earlier.  The approach you described is the path I'd recommend, since you're use case didn't require Graph API specific features.

[2018-02-23 02:50] bytelabsco commented on #317
In addition to what @justinSelf said regarding stored procedures, if you specify custom serializer settings, any parameters you pass in will be lost by the time the stored procedure executes, and all parameters will have no value.

[2018-02-23 10:19] reddy6ue commented on #317
This decision to use only Pascal case and to not let the user set default serialization settings in DocumentDB seems to be a major design flaw. I've also had the same experience dealing with this quirk of CosmosDB.

[2018-02-23 10:53] FVilevski commented on #317
Is there going to be fix for this anytime soon ?

[2018-02-23 11:09] Liversage commented on #317
@reddy6ue

CosmosDB does not prescribe anything about the format of the JSON that you store. This is a problem in .NET SDK that you use to access CosmosDB that has a problem fixing the mismatch between C# conventionally using pascal case and JSON conventionally using camel case.

I have considered not using this SDK and instead writing my own library to access the REST API directly to avoid this s

[2018-02-24 16:28] zelsius commented on #424
Yep, you’re right. This did and implementing a custom Enum serializer did the trick! :-) Thanks.

[2018-02-24 16:35] #424 closed

[2018-02-26 13:53] reddy6ue commented on #317
@Liversage You are right. It's not a cosmosdb serialization issue, but the the default Newtonsoft serializer that comes with the azure sdk. I still don't understand why it's so hard to allow users to inject a serializer of their choosing.

[2018-02-26 17:55] creyke commented on #317
I'm using a PascalCase language to write and javascript to read, hence the need to enforce camelCase. Now I can't use Linq. Please prioritize this fix.

[2018-02-26 18:29] moshegutman commented on #317
Yeah this is annoying. My current workaround is to build the query manually.

[code]

[2018-02-28 09:33] kieronlanning commented on #194
Just spent a day figuring this out too. Given that Docker (Linux) is the go-to deployment option for individuals and enterprises, is it worth being a little more transparent about the timelines for support?

[2018-02-28 10:36] dasiths commented on #295
So the latest client requires 10.0.2 but has the same problem when using it in Azure Function.

[2018-02-28 18:58] kirankumarkolli commented on #433
@akuzhan can you please share the a repro?

[2018-02-28 19:04] kirankumarkolli commented on #194
@ausfeldt  we should refresh documentation with un-supported scenarios.

Also we are working on direct mode support for core and its planned for first half of 2018.

[2018-02-28 19:28] kieronlanning commented on #194
@kirankumarkolli Thanks for the update, it would be great to see this on a roadmap/ issue so we can track it too...

[2018-03-01 10:31] siteshkumar5516 opened #440 "The read session is not available for the input session token.\r\nActivityId: bd45d180-1f9e-4df3-b085-13d5fb0ebeb1"
Hi While searching from document DB getting issue
I am using SDK-1.17.0
"The read session is not available for the input session token.\r\nActivityId: c8ab0c4d-54bb-4f5a-9885-a04c4fbd8b59, \r\nResponseTime: 2018-03-01T10:29:57.5058455Z, StoreReadResult: StorePhysicalAddress: rntbd://10.234.121.187:14000/apps/2fc6e9a6-e2f7-40ec-b55d-5a316f28c4a1/services/5071e6b3-2aca-47c4-8aef-43877881b1ff/partiti

[2018-03-01 11:44] siteshkumar5516 commented on #141
Hi guyz I am using SDK -1.17.0 then also I am getting above issue frequently

[2018-03-02 12:59] BenjaBobs commented on #413
Are there any news on the status of string predicates? Can you disclose which functions you are adding support for?

[2018-03-03 06:06] bchong95 commented on #398
This got resolved in the latest SDK. I will close the issue. Please feel free to reopen if this happens again.

[2018-03-03 06:06] #398 closed

[2018-03-05 11:22] altenstedt commented on #411
Thanks, I will give this a try.

[2018-03-05 11:22] #411 closed

[2018-03-05 12:48] FVilevski opened #441 "Generating duplicate JSON data on update document"
Hi guys,

I was updating existing document and somehow it generated duplicate JSON data inside. I experienced this only once and I am not able to recreate it again, but I believe that maybe you have a bug with that logic. I just wanted to inform you so you can be aware of it. Keep doing great job.

![image](https://user-images.githubusercontent.com/3698963/36975856-c2ca59de-207b-11e8-987e-d76fd91a

[2018-03-06 12:15] Liversage opened #442 "Problem using the latest Microsoft.Azure.DocumentDB NuGet package with .NET Standard"
I noticed that the `Microsoft.Azure.DocumentDB` NuGet package was updated to 1.21.0 and that `Microsoft.Azure.DocumentDB.Core` was updated to 1.9.0. Furthermore, the description for this package now contains the text

It seems that I now should use `Microsoft.Azure.DocumentDB 1.21.0` everywhere in my solution. However, I have a full .NET framework application that has dependencies on .NET Standard

[2018-03-06 12:16] FelschR commented on #194
Has anything of this changed with the release of 1.21.0?

[2018-03-06 12:42] FelschR opened #443 "Microsoft.Azure.DocumentDB 1.21.0 issues"
I'm getting the following issues in my unit tests after upgrading:

.NET Framework 4.5.2:
[code]

.NET Core 1.0 & .NET Core 2.0:
[code]

The unit tests use the Cosmos DB Emulator (which might not support the new library version yet?)

My project is a library with .NET Framework & .NET Standard as target.
My unit test projects are running the tests for .NET Framework 4.5.2, .NET Core 1.0 and .NET C

[2018-03-06 13:31] FelschR commented on #215
I have this issue in my AppVeyor build (where I download the most recent Emulator for each build).
On my local machine it's running without issues (also with the latest Emulator).

[2018-03-06 18:00] joshiamit05 commented on #434
I have the same issue - haven't found a solution yet. Is there a way this can be fixed sooner?

[2018-03-06 20:01] ausfeldt commented on #387
Resolved in 1.21.0 https://www.nuget.org/packages/Microsoft.Azure.DocumentDB/

[2018-03-06 20:01] #387 closed

[2018-03-06 20:01] ausfeldt commented on #345
Resolved in 1.21.0 https://www.nuget.org/packages/Microsoft.Azure.DocumentDB/

[2018-03-06 20:01] #345 closed

[2018-03-06 20:08] ausfeldt commented on #202
Microsoft.Azure.DocumentDB.Core has been deprecated. Can you try 1.21.0 https://www.nuget.org/packages/Microsoft.Azure.DocumentDB/

[2018-03-06 20:12] ausfeldt commented on #399
Try 1.21.0 https://www.nuget.org/packages/Microsoft.Azure.DocumentDB/

[2018-03-06 23:18] ausfeldt commented on #442
Thanks, I was able to reproduce. Working on a fix now.

[2018-03-06 23:20] ausfeldt commented on #443
What is the version of the emulator that the tests fail against?

[2018-03-07 03:27] ausfeldt commented on #442
When you install the package it installs the .net framework assembly because the console app targets .net framework, but you want the .net standard assembly. Both versions are in the same package. For now make sure it references the .net standard assembly by editing your csproj from

[code]
To

[code]

And update the packages.config from

[code]
to

[code]

[2018-03-07 09:22] FelschR commented on #443
On the build server I download it from https://aka.ms/cosmosdb-emulator each time the build runs.

Locally I have 1.20.108.4 which I also got from the link yesterday,

[2018-03-07 09:48] krispenner commented on #173
@FelschR @jonathanfishbein1 I am trying to do the exact same thing as you guys, did either of you ever get an answer to this?

I would like to use a SqlQuerySpec to filter on a '_type' field first based on typeof(T).Name, then apply the predicate the caller passed in.  I don't want the caller to have to bother with filtering by document type (this is so I can easily share a single Collection acros

[2018-03-07 11:05] FelschR commented on #173
I ended up creating a custom base class with a type field that all my document classes inherit from so that I don't need to use an SQL string.

[2018-03-07 13:50] mikerains commented on #408
Happened to me connecting to local emulator cosmodb service v 1.19.102.5.  First time it happened, it was a "ServiceUnavailable" exception. it went on for several hours, and then magically started working again.  Second time it happened, several days later, it was throwing GoneException; I performed the "Reset Data" context-menu operation from the systray CosmoDb icon, after which the code was abl

[2018-03-07 18:27] kirankumarkolli commented on #442
@Liversage please use the work-around above while we address the issue in the package.

[2018-03-07 18:33] Liversage commented on #442
@ausfeldt @kirankumarkolli Thank you for you response. The workaround that I'm successfully using in my solution is to add the deprecated package as a dependency of my full framework project.

I have converted all my projects (also the full framework project) to the new "lean" .csproj format so I'm actually not sure how to apply the `HintPath` used in your workaround. However, as I have working so

[2018-03-07 20:47] jackbond commented on #202
@ausfeldt I tried, but there appears to be a MASSIVE BUG. These may be the steps to reproduce...

1) Add a reference to Microsoft.Azure.DocumentDB 1.21.0 from a .netstandard project (Project X)
2) Add a reference to Project X from another .netstandard project (Project Y)

When you compile, project Y appears to reference Microsoft.Azure.DocumentDb.Core and then you get all sorts of type mismatches

[2018-03-07 21:17] ausfeldt commented on #202
@jackbond  Thanks, working on a fix now.

[2018-03-07 22:33] jackbond commented on #202
@ausfeldt Just to confirm, you were able to reproduce the issue?

[2018-03-08 16:50] kirankumarkolli commented on #440
@siteshkumar5516 we are looking into it on service side. I am closing this thread for now.

Please send mail to 'askcosmosdb@microsoft.com' with below details
1. How frequently is this happening and few time-ranges.
2. What's the impact of this on your application/service.
3. Cosmos DB account name
4. Related activity id's and if possible

[2018-03-08 16:50] #440 closed

[2018-03-08 17:48] jackbond commented on #202
@ausfeldt My mistake, Project Y is in fact a .NET Framework project.

That being said, I literally cannot believe that this bug made it into a published nuget package. If someone isn't fired for this, then your project manager is OUT OF HIS FUCKING MIND. Do you guys have what is generally known in the rest of the industry as a "QA Team?" If the DocumentDb team is unfamiliar with the concept, it's

[2018-03-08 18:36] ausfeldt commented on #202
@jackbond If Project Y is a .NET Framework, then I am able to reproduce it. Thanks.

[2018-03-08 22:53] ausfeldt commented on #202
@jackbond  The package will be unlisted and we will bring back the single NuGet when the reported gaps are addressed.

[2018-03-08 23:02] ausfeldt commented on #443
@FelschR 1.21.0 has been unlisted. Does  this issue exist with 1.20.2?

[2018-03-09 05:19] cecilphillip commented on #443
Also, version 1.3.0 of the ChangeFeedProcessor still references 1.21.0 which causes build warnings when the ChangeFeedProcessor is added to a project with 1.20.2 already installed.

[2018-03-09 12:48] pramod-hegde opened #447 "Server could not parse Url at Microsoft.Azure.Documents.Client.ClientExtensions.<ParseResponseAsync>"
**PublicMessage**:
Server could not parse the Url., documentdb-dotnet-sdk/1.20.2 Host/64-bit MicrosoftWindowsNT/10.0.16299.0

**Error**:
{{
  "code": "NotFound",
  "message": "Server could not parse the Url."
}}

**ActivityId**: "936912eb-7d8d-4a76-9012-24bbf1a974ad"

**InnerException**: null

**Stack Trace:**
   at Microsoft.Azure.Documents.Client.ClientExtensions.<ParseResponseAsync>d__4.MoveNex

[2018-03-09 15:39] creyke commented on #202
While I don't share @jackbond's thirst for blood just yet, it would be great to know when this will be fixed. It's blocking a major piece of work for me so I'd like to know at least if it's going to be hours, days, or weeks? Thanks.

[2018-03-09 18:58] ausfeldt commented on #202
This thread has much moire context than original issues started with. If you are looking for fixes in 1.21.0, today we will publish a new version with-out (single-nuget changes). @creyke will this unblock you?

[2018-03-09 19:14] kirankumarkolli commented on #447
@bchong95 please look into this.

[2018-03-09 19:16] creyke commented on #202
Thanks @ausfeldt - will confirm when I’ve tested it.

[2018-03-09 20:31] pramod-hegde commented on #447
Hi,
I was able to figure out the issue. It was a code error. The Uri was incorrectly formed.
So, this is not a SDK issue.

[2018-03-09 20:31] #447 closed

[2018-03-09 20:46] creyke commented on #202
@ausfeldt The version just pushed ([1.21.1](https://www.nuget.org/packages/Microsoft.Azure.DocumentDB/1.21.1)) doesn't compile for me when referenced by a netstandard2.0 project...

![image](https://user-images.githubusercontent.com/1805709/37229074-bfcc098c-23da-11e8-9e22-1819bef3ab1a.png)

[2018-03-09 20:52] kirankumarkolli commented on #443
1.21.1 version published and now changefeedprocessir should be consumable.
Apologies for the in-convenience.

[2018-03-09 22:59] ausfeldt commented on #202
@creyke 1.21.1 does  not target .net standard anymore, only. Those changes were rolled back. https://www.nuget.org/packages/Microsoft.Azure.DocumentDB.Core is the package that supports .net standard.

[2018-03-10 15:47] scott-lin commented on #317
+1, please prioritize fixing this issue.

[2018-03-12 17:25] creyke commented on #202
I get this same error message in the latest sdk (tools: 2.0.1-beta.23, runtime: 2.0.11587.0)...

[code]

...with only the following references...

[code]

...as well as a CosmosDBTrigger reference...

[code]

[2018-03-12 18:32] ausfeldt commented on #202
@creyke The fix was in the single nuget which was rolled back. Here is a .net standard package which has the fix. [Microsoft.Azure.DocumentDB.Core.1.9.1-dev-private.nupkg](https://github.com/Azure/azure-documentdb-dotnet/tree/DevTestPackages/DevTestPackages).

[2018-03-12 19:38] kirankumarkolli commented on #443
Resolving the bug for now. In-case of any issues, please re-activate or create a new bug.

[2018-03-12 19:38] #443 closed

[2018-03-12 19:42] kirankumarkolli commented on #442
@Liversage single nuget package is unlisted and newer independent versions are published. Please use https://www.nuget.org/packages/Microsoft.Azure.DocumentDB.Core/.

[2018-03-12 19:42] #442 closed

[2018-03-12 20:40] creyke commented on #202
@ausfeldt Thanks for uploading the dev package, however when I try and install it I get the following error, and it also does not seem to be a valid zip file...

**[Local] 'C:\Working\NuGet\Microsoft.Azure.DocumentDB.Core.1.9.1-dev-private.nupkg' is not a valid nupkg file. Error: 'End of Central Directory record could not be found.'.**

![image](https://user-images.githubusercontent.com/1805709/37

[2018-03-12 20:41] luk-zar opened #448 "DocumentClientException during heavy load"
Hi,
We are performing performance tests with our system (azure function) utilizing CosmosDB as data store. We use singleton approach with DocumentClient as presented here: https://github.com/Azure/azure-functions-host/wiki/Managing-Connections

But among 600k requests we got about 21k errors with simmilar error message:

I've googled this message and it seems that it could be connected with wrong

[2018-03-12 21:20] ausfeldt commented on #202
@creyke I just tried and was not able to reproduce. https://github.com/Azure/azure-documentdb-dotnet/raw/DevTestPackages/DevTestPackages/Microsoft.Azure.DocumentDB.Core.1.9.1-dev-private.nupkg

Install-Package <path to nuget package>

I would try one more time. Maybe the download was corrupt.

[2018-03-12 21:48] creyke commented on #202
@ausfeldt Thanks again, I'm sorry for the confusion, it was corrupt. After referencing it...

    <PackageReference Include="Microsoft.Azure.DocumentDB.Core" Version="1.9.1-dev-private" />
    <PackageReference Include="Microsoft.Azure.WebJobs.Extensions.CosmosDb" Version="3.0.0-beta6" />
    <PackageReference Include="Microsoft.NET.Sdk.Functions" Version="1.0.8" />
    <PackageReference Include="

[2018-03-13 15:27] filipw opened #449 "Where is the changelog for the NET Standard SDK?"
The main repo changelog https://github.com/Azure/azure-documentdb-dotnet/blob/master/changelog.md only covers the .NET Framework SDK.
Where is the changelog for the [.NET Standard SDK](https://www.nuget.org/packages/Microsoft.Azure.DocumentDB.Core/)?

[2018-03-13 15:35] mcharters commented on #391
@olivertowers is there a preview release of a bulk import tool yet? If so, can I preview it please? 😄

[2018-03-13 18:09] DOliana commented on #342
the same goes for FeedResponse<T>

[2018-03-14 09:34] reddy6ue opened #450 "Cosmos db emulator returns a nullset when I user the order by clause in queries"
I have a single collection. I am using an order by query with date fields. When I remove the order by clause, the query works and returns 20 items with a continuation token. When I insert the order by clause back in, it gives me an empty resultset.

My cosmosdb version is 1.20.91.1.

[2018-03-14 15:34] cSchluetter commented on #257
Hey, as I understand Microsoft now recommends to use Gremlin.NET which already have a fluent API. But the fluent traversal API doesn't work because Cosmos DB doesn't support Gremlin Bytecode yet. So I suggested a new idea, see: https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/33632779-support-gremlin-bytecode-to-enable-the-fluent-api

[2018-03-14 16:27] creyke commented on #202
Sorry to chase, any options here? I am unable to deploy my code to Azure Functions so am completely blocked.

[2018-03-14 17:59] ausfeldt commented on #202
@creyke Is the azure function 64-bit running on windows?

[2018-03-14 20:17] codemillmatt commented on #399
@ausfeldt - 1.21.0 of that package worked ... but looks like it has been rolled back (see #443). And 1.21.1 does _not_ work.

Good news is that 1.9.1 of https://www.nuget.org/packages/Microsoft.Azure.DocumentDB.Core/ seems to work.

Bouncing back and forth between the NuGets isn't ideal.

[2018-03-14 20:42] ausfeldt commented on #399
@codemillmatt The package introduced bugs and was unlisted. We will bring back the single NuGet soon when the reported gaps are addressed.

[2018-03-15 15:07] FVilevski commented on #441
Hi @kirankumarkolli,

I am aware of that, but this is one single document contain

[2018-03-15 15:10] FVilevski commented on #441
Hi @kirankumarkolli ,

I am aware of that, but this is single document. I am talking about one document. The data inside of this document, on update operation has been duplicated somehow.

[2018-03-16 00:09] aarondandy opened #451 "CosmoDB Emulator: Service is currently unavailable"
## Description

After installing Azure Cosmos DB Emulator 1.20.108.4 I am unable to use it after it starts.

## Steps to reproduce

1. Install Azure Cosmos DB Emulator 1.20.108.4
2. Launch (it may do so automatically the first time)
3. Access the data explorer
4. Attempt to view collections/databases or create a new collection/database

## Expected & Actual

I expect that the Azure Cosmos DB Emula

[2018-03-16 10:05] BenjaBobs opened #452 "[Gremlin API] Better way to return error messages"
## Problem
I want to return error messages when a query attempts to do something it can't, such as adding an edge between two entities but one of the entities doesn't exist.
It is currently possible, but I have to jump through some hoops to get there.

## Hacky solution
The current way I return error messages is to coalesce on a union of choose-steps with checks.
Example of adding a `worksAt` edge

[2018-03-16 12:27] Darktaelb commented on #286
@projecteon
Hello, can you help me by viewing your manual "sql" queries for case insensitive OrderBy?
Or maybe someone knows how to do case insensitive order by?

[2018-03-16 12:38] Darktaelb opened #453 "Case insensitive "OrderBy""
Hello!

I'm working with **DocumentDB** using **.Net Core lib**. I'd tried to do case insensitive ordering using **LINQ** or **stored procedures.**.. But nothing worked fine.

I'll be very grateful if somebody help me with question:
- **How to make case insensitive sorting _without using extra fields with lower case_?**

Thank you for your attention.

[2018-03-16 13:54] michael-freidgeim-webjet commented on #287
Similar to @rnagpal [ comment](https://github.com/Azure/azure-documentdb-dotnet/issues/287#issuecomment-310276507)  I've  [created ToListAsync extensions](https://stackoverflow.com/questions/39338131/documentclient-createdocumentquery-async/49322332#49322332)

[code]

[2018-03-16 13:55] paulhickman-a365 opened #454 "Can't obtain metrics of Count() queries"
If d is a DocumentQuery, then you can execute a count query with:

[code]
But this means you can't inspect the feed response to obtain details such as the request charge. It would be nice to be able to call something like:

[code]
where CountAsync() is similar to ExecuteNextAsync, but executes a  count query returning the metrics of the query as well as the result.

[2018-03-16 16:02] projecteon commented on #286
You can use sql as text using the SqlQuerySpec class.

[SQL Parameterization in DocumentDB](https://azure.microsoft.com/en-us/blog/announcing-sql-parameterization-in-documentdb/)

Mixing this with some reflection and you are up and running. Might not be as performant as standard Linq. That I don't know. Hopefully this issue gets fixed.

[2018-03-17 08:54] reddy6ue opened #455 "Azure documentdb gremlin query fails with "Could not load file or assembly 'Microsoft.Azure.Documents.Client, Version=1.14.0.0""
I have imported the following nuget libraries.

Microsoft.Azure.DocumentDB v1.12.1
Microsoft.Azure.Graphs v0.3.1-preview
Microsoft.NET.Sdk.Functions v 1.0.9
microsoft-web-helpers v2.1.20710.2
Netwonsof.Json v9.0.1

I am performing a basic Client.CreateGremlinQuery with the query $"g.V().hasLabel({name})" on a database with a single collection with entities that are only vertices with no edges.

[2018-03-17 11:52] reddy6ue commented on #455
This is the manifest file for Azure.Document.Graphs
[manifest.txt](https://github.com/Azure/azure-documentdb-dotnet/files/1821547/manifest.txt)

[2018-03-17 13:29] reddy6ue commented on #450
Has anybody else encountered this?

[2018-03-17 13:32] reddy6ue commented on #455
I researched this a little further and this error goes away when I downgrade my Microsoft.Azure.DocumentDB to v1.14.0. I think the root cause is that Microsoft.Azure.Graphs v0.3.1-preview has a hard dependency on v1.14.0, and this is what's causing the problem.

Unfortunately, that project is not open source so I can't open an issue with them.

[2018-03-17 13:32] #455 closed

[2018-03-19 11:15] reddy6ue opened #456 "Collection name with hyphens in it errors out on CosmosDB emulator"
I haven't tested this out in the cloud db yet, so I don't know if it's just a problem with the emulator.

I have a collection called social-data and I get a DocumentClientException with syntax error at the exact spot where the hyphen is.

Here's the query I'm running.

` SELECT * FROM social-data a WHERE a.Type == "Juna.Zone.NewsFeed.Infrastructure.DAO.FeedItemDO" ORDER BY a.DatePublished DESC`

T

[2018-03-19 16:08] RonPeters opened #457 "NotFoundException: The read session is not available for the input session token"
Running Microsoft.Azure.DocumentDB.Core 1.9.1 in Direct/TCP mode, there seems to be a race condition under load. If I run a unit test individually, everything is fine. But when I run all unit tests, about 13% of them fail in this fashion (copied from VSTS Build, edited for brevity, can't wait for readable async stack traces in Core 2.1):

[code]

As you can see, it retries and fails. This only hap

[2018-03-20 19:13] tklopl commented on #317
Bump.

[2018-03-21 07:43] LoulG commented on #451
Same here.

Windows 10 1709 (16299.309)

[2018-03-21 18:52] aarondandy commented on #451
@LoulG Oh man, of all the things I put in my issue I forgot to list my windows version which is the same as yours, I'll add that. Can you please also post the version of windows you have on your working machine so we can see if that may be related? Can other people with this issue also list their windows versions? You can do so by running `winver` .

[2018-03-22 10:14] LoulG commented on #451
All my two machines have exactly the same configuration/versions. The only difference between the two, is that the working machine is not domain joined.

[2018-03-22 12:06] aarondandy commented on #451
My broken machine is not domain joined so I guess neither aspect is related.

[2018-03-22 23:59] Liversage opened #458 "Document with ID containing what looks like a hex escape cannot be read"
If the ID of a document contains the percent character (`%`) it may sometimes be impossible to read that document.

Here is a code example that creates a document with Id `%d5` and then tries to read it:

    var databaseId = "Test";
    var documentCollectionId = "Test";
    var documentId = "%d5";

    var client = new DocumentClient(new Uri("https://localhost:8081/"), "C2y6yDjf5/R+ob0N8A7Cgv30V

[2018-03-23 14:52] fujiy opened #459 "What client library is recommended? Microsoft.Azure.Graphs or Gremlin.Net"
Before Feb 14th [the documentation](https://github.com/MicrosoftDocs/azure-docs/blob/108e94b74fe036dfb79e8b6527bd8b03bb0df1c1/articles/cosmos-db/create-graph-dotnet.md) and [samples](https://github.com/Azure-Samples/azure-cosmos-db-graph-dotnet-getting-started/tree/master/GraphGetStarted) were using Microsoft.Azure.Graphs package.

Now they are using Gremlin.Net. (https://docs.microsoft.com/en-us/

[2018-03-23 16:09] LastTribunal commented on #262
This issue is not fixed, the latest build as of today still has this issue.  Unable to use in Service Fabriic

[2018-03-23 16:12] LastTribunal opened #460 "Unable to load DLL 'Microsoft.Azure.Documents.ServiceInterop.dll' when calling library from service fabric service"
https://github.com/Azure/azure-documentdb-dotnet/issues/262

issue persists, why was it closed?

Looks like there are a lot of half-assers working for MS these days.  Thanks to multiculturalism.  In some cultures its acceptable to release code that breaks, and also buildings and bridges

[2018-03-23 19:41] isaacabraham commented on #262
I'm seeing the same issue in with F# scripts against 32-bit FSI. I can't load `Microsoft.Azure.Documents.ServiceInterop.dll` since it is 64-bit only. Is the DocDb client nuget package 64-bit only?

Interestingly I only see this issue if I try to do an IQueryable query. Simple getting all rows works:

[code]

Any ideas?

[2018-03-23 19:42] isaacabraham commented on #202
I'm seeing the same issue in with F# scripts against 32-bit FSI. I can't load `Microsoft.Azure.Documents.ServiceInterop.dll` since it is 64-bit only. Is the DocDb client nuget package 64-bit only?

Interestingly I only see this issue if I try to do an IQueryable query. Simple getting all rows works:

[code]

Any ideas?

[2018-03-23 21:39] kirankumarkolli commented on #458
@Liversage thanks for reporting it. We will root-cause it and fix it.

As a work-around you can use below ending which covers all scenarios
Encode: Convert.ToBase64String(System.Text.Encoding.UTF8.GetBytes(id)).Replace("/", "-")
Decode: Encoding.UTF8.GetString(Convert.FromBase64String(id.Replace("-", "/")))

Note: Base64 has '/' and last Replace is to cover it with non-base64 valid character.

[2018-03-23 21:48] kirankumarkolli commented on #459
@ausfeldt please look into this.

[2018-03-23 21:49] kirankumarkolli commented on #460
Original issues was reported as addressed, it might be a new issue.
@ausfeldt please look into this.

[2018-03-23 21:50] kirankumarkolli commented on #457
@RonPeters we are investigating it and will get back to you.

[2018-03-23 21:52] kirankumarkolli commented on #456
@bchong95 please look into this.

[2018-03-23 21:52] kirankumarkolli commented on #453
@bchong95 please look into this.

[2018-03-23 21:53] kirankumarkolli commented on #452
@olivertowers please look into this.

[2018-03-23 21:53] LastTribunal commented on #460
It was never addressed.  Users said they had to use an older version of DocDb..  That is not called "addressed"  that is called a workaround

[2018-03-23 21:54] kirankumarkolli commented on #454
@bchong95 please look into this.

[2018-03-23 21:57] kirankumarkolli commented on #448
@luk-zar did you check if failures are correlating to an instance which might have a stale key?

Also are you using resource tokens or master key?

[2018-03-23 22:35] ausfeldt commented on #460
@LastTribunal  What version of the SDK are you using?

[2018-03-23 22:59] ausfeldt commented on #202
@isaacabraham The nuget package is not 64-bit only. Microsoft.Azure.Documents.ServiceInterop.dll is 64-bit and native. The SDK will only use it if it's running on a Windows 64-bit OS.

[2018-03-23 23:18] jackbond commented on #202
@ausfeldt I'm curious, given the agony that ServiceInterop.dll has created, is the performance boost on 64 bit windows worth it? Also, if you can run without it, can you guys simply catch the Exception and fall back gracefully?

[2018-03-23 23:46] ausfeldt commented on #202
@jackbond This option is an option that is being considered. Long term we are planing to get rid of this dependency all together. Thanks.

[2018-03-24 00:21] sboshra commented on #456
The root symbol in the FROM clause has to be a valid identifier (starts w/ an underscore or alpha char and followed by an underscore or alphanumeric char).
On the other hand, it really does not have to match the collection name since the collection is inferred from the connection context (you could only establish a connection to a single collection). So basically, you could pick any name here.
BTW

[2018-03-24 01:12] olivertowers commented on #452
I think it's best to project a simple state structure as the response rather than using error messages. My approach would be fairly similar to what you were aiming for though:

[code]

The project() part of the query will return map structure of form:
[source: <>, target: <>, edge: <>]

And for incomplete data, theses results are expected:
[code]
[code]
[code]

The query is also source vertex cent

[2018-03-24 08:16] creyke commented on #202
@ausfeldt Apologies for no response to previous question. I ran out of time and had to remove my dependencies on cosmos unfortunately. Will monitor the thread, but I no longer have a reproduceable case as I had to ship something (have gone back to http for now instead of cosmos db triggers).

[2018-03-24 09:53] reddy6ue opened #461 "Continuation token for subsequent queries does not work"
I have been having a very strange porblem. I use a mobile app to access the Document DB via a REST service. I am passing through the continuation token in the http headers. When the mobile client sends the first continuation token to me in a subsequent request, it works just fine, and I send over a new continuation token for the second page of results.

Now, things get interesting. I get zero resu

[2018-03-24 11:19] isaacabraham commented on #202
@ausfeldt I'm running on 64 bit Windows 10. I can't reference those two interop libraries - it says Bad CLI Header. Is there no way to "disable" this 64 bit optimisation?

[2018-03-24 14:24] bytelabsco commented on #246
Still broken in Microsoft.Azure.DocumentDB.Core v1.9.1

[2018-03-24 19:47] CreepyGnome opened #462 "IDocumentClient is not Mockable"
There appears to be no easy way to Mock the IDocumentClient for a number of reasons. Some of which is because not all return values are interfaces, or easily created objects making it difficult to impossible to create setups. Plus its difficult to impossible due to the complexity of the interface with 202 methods and properties that have difficult to determine dependencies upon each other.

How di

[2018-03-25 04:47] LastTribunal commented on #460
everything latest
all you gotta do is create a SF service and load and reference the latest docdb nuget.  you will see for your self
this is not a user error

[2018-03-25 04:55] ausfeldt commented on #460
Which SDK, Microsoft.Azure.DocumentDB.Core or Microsoft.Azure.DocumentDB?

[2018-03-25 05:56] LastTribunal commented on #460
Microsoft.Azure.DocumentDB

[2018-03-25 22:39] davetheunissen commented on #462
Hey @CreepyGnome, this is something that I across recently in a project that I was working on. In short, you can mock IDocumentClient using the repository pattern and the Moq framework. This will allow you to unit test your repository functionality while abstracting away the actual document client database calls. This works well with a generic repository pattern too.

I've put together an example

[2018-03-25 23:12] CreepyGnome commented on #462
Hi @davetheunissen,

I was mocking IDocumentClient and the setups were getting crazy due to overly complex return objects that should be Interfaces themselves. I had to use reflection to create the results for setups for the mocks and that is a big code smell. If it was just one maybe two tests that needed it fine. But it is ALL tests that would need it.

I looked at your example and its very simp

[2018-03-26 00:08] davetheunissen commented on #462
@CreepyGnome, no problem. Having a look at the DocumentServiceResponse I see it's not possible to mock out the http status response because it's set internally.

According to a comment on another task, this is the official issue being tracked by the dev's.
https://github.com/Azure/azure-documentdb-dotnet/issues/342

Good luck!

[2018-03-26 01:12] CreepyGnome commented on #462
@davetheunissen thanks for the reference I was searching for an existing one and I missed that one.  Probably because of the title.  Now that it is linked I will close this and monitor the other one.

[2018-03-26 01:12] #462 closed

[2018-03-26 06:34] luk-zar commented on #448
Hi @kirankumarkolli ,
It turned out that we had problems with appSettings passed from azure function down to our CosmosDB services. They were not always valid (and we use the same for whole application). We temporary fixed it by getting appSettings directly in out CosmosDB service (using Environment.GetEnvironmentVariable). It is not elegant but it is working... If it is not bug in our code then i

[2018-03-26 08:42] amoorthaemer commented on #439
Hi,

Any progress on this?

TIA
Bert

[2018-03-26 11:38] reddy6ue commented on #456
@sboshra I understand that collection can be inferred from the context itself. However, if we are writing a generic repository layer where queries are distributed across multiple collections, sometimes we have to write plain SQL like queries.

Correct me if I'm wrong, but it's a best practice to make sure that queries across all formats work the same way (including emulator UI or administration UI

[2018-03-26 17:10] kirankumarkolli commented on #461
@bchong95 please look into this.

[2018-03-26 17:16] kirankumarkolli commented on #246
@bchong95 please look into this.

[2018-03-26 17:18] kirankumarkolli commented on #448
@luk-zar glad that you are unblocked. Please report this to azure functions.
Closing this thread, feel free to re-open if needed.

[2018-03-26 17:18] #448 closed

[2018-03-26 18:06] ausfeldt commented on #460
@LastTribunal Microsoft.Azure.Documents.ServiceInterop.dll is a native DLL and possibly not being copied into the service package. Can you try the following: https://stackoverflow.com/questions/37408686/how-to-import-native-dll-on-service-fabric

[2018-03-26 22:18] johnstairs opened #463 "Transient exception in GenerateKeyAuthorizationSignature"
Hi, we see in our logs that we got follwoing exception, twice in a three-second span, and then have not seen it since. So not a high-severity issue. We are using direct connectivity with tcp and using resource tokens. The error would **not** have happened on the first usage of a DocumentClient instance: the instance would already have been opened and validated before reaching this point.

Not sure

[2018-03-26 23:13] LastTribunal commented on #460
I have 100+MS nuget packages that run just fine with SF.
There should be no special effort to make this work on SF.  If you don't wanna fix it, I will stay with docdb 1.16.0 for ever if I have to.

[2018-03-27 02:29] ausfeldt commented on #460
@LastTribunal In the Nuget Package it has .targets file and its contents get added to your .csproj file to make sure the native DLLs are copied into your bin directory.

[code]
When creating the package it is not bringing the native DLLs over from your bin directory. It seems that Service Fabric's Package command is not doing an xcopy of the bin or not getting from the <ContentWithTargetPath> in y

[2018-03-27 07:26] isaacabraham commented on #202
@ausfeldt thanks for this. I'd say there are a few issues here:

1. Build props obviously are only of use with a console application, rather than a script.
2. Whilst the NuGet client may add build props, I don't believe Paket does.

The actual working directory for FSI isn't in C:\Program Files etc. - it varies depending on which IDE you use - but in VS Code, it's already set to the `__SOURCE_DIRE

[2018-03-27 13:12] DevKumRos opened #464 "Regarding Cosmo Document DB Replica error"
Hi All,

Am getting following error, When am using Azure Cosmo Document DB
 Message: {"Errors":["Resource with specified id or name already exists."]}

2018-03-27 15:09:058 ERROR c.h.m.s.CosmosDBFavoriteService - Could not add Favorites to Customer Reference : c0ed9efc-8289-4409-b6b7-867b799f1380  Message: {"Errors":["Resource with specified id or name already exists."]}
ActivityId: 8400883e-7124-

[2018-03-28 04:47] aarondandy commented on #451
I am able to run the emulator from https://hub.docker.com/r/microsoft/azure-cosmosdb-emulator/ but the web UI seems to not work. I get a ton of JS errors and the web UI is unable to show me databases or collections. At least the C# client seems to work. It would be a much nicer experience if the msi would work on my machine too.

[2018-03-28 06:31] joopscheer commented on #376
Anyone?

[2018-03-28 06:33] joopscheer commented on #461
Maybe related to #376?

[2018-03-28 13:39] BenjaBobs commented on #452
Thanks, that query is a lot more readable.
The drop in the end was to make the edge unique.

[2018-03-28 13:51] BenjaBobs opened #465 "Cannot connect to emulator with Gremlin.Net"
When trying to connect to the emulator using Gremlin.Net I received the following exception:
`System.Net.WebSockets.WebSocketException (0x80004005): The server returned status code '200' when status code '101' was expected.`

My setup was this:
[code]

[2018-03-28 16:41] massoudm commented on #376
In my case, Azure CosmosDB team deployed a change which caused this problem only when doing a SELECT TOP 1 with descending order. It took 3-4 days before they fixed it. That was in early January though. We did not experience this problem after.

[2018-03-29 21:16] kirankumarkolli commented on #465
@olivertowers please look into it.

[2018-03-30 21:37] spelltwister commented on #202
@ausfeldt I'm a little confused by these two comments:

Is the .Core package deprecated?  Seems like they were both updated few weeks ago.  Just want to make sure I'm not using a package that is now dead.

I have read thru the entire chain and tried all the suggestions I could apply to an asp.net core 2.0 site.  Every package version fails with the same error "Unable to load DLL 'Microsoft.Azure.D

[2018-03-31 04:03] ausfeldt commented on #449
https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-sdk-dotnet-core

[2018-03-31 04:03] #449 closed

[2018-03-31 04:07] ausfeldt commented on #202
@spelltwister Can you give this package a try. https://github.com/Azure/azure-documentdb-dotnet/raw/DevTestPackages/DevTestPackages/Microsoft.Azure.DocumentDB.2.0.0-preview.nupkg

[2018-04-01 13:03] mlankamp commented on #400
I had exactly the same problem when running the emulator in the office, while at home i could use a direct connection. I tried until I found the DocumentDbEmulatorCertificate (mmc.exe -> Add/Remove snap-in -> certificates -> Computer account). In the certificate the is a property Subject Alternative Name, in this property I found different DNS names but also my IP-adresses.
If I shutdown the emula

[2018-04-01 13:13] mlankamp commented on #194
You can try my solution, see https://github.com/Azure/azure-documentdb-dotnet/issues/400

[2018-04-02 15:19] spelltwister commented on #202
Unfortunately, no luck with the new package.  I tried updating just the asp.net core 2.0 references assuming it would use the newer version, but same error.  I also tried updating both the .netstandard 1.6 service library and the asp.net core 2.0 site references, but same error.  :(  Will be trying to convert back to full framework lib and full framework asp.net site.

[2018-04-02 18:40] spelltwister commented on #202
I was able to convert to using the fx package with no code changes required; just copied all the files into new full framework project so that's cool.  The unit tests all still passed after making that change.  I was able to do a basic test to see that the service does work when hosted in a asp.net full framework webapi project.  However, I'm having other problems now due to System.Runtime not bei

[2018-04-02 22:29] olivertowers commented on #465
@BenjaBobs - Unfortunately the emulator does not include the Gremlin server yet.
We are planning on including including Gremlin server in a future CosmosDB emulator release so that this avenue for testing is available.

[2018-04-02 22:31] olivertowers commented on #459
Gremlin.NET is the recommended library to use going forward.Connecting to CosmosDB Gremlin server via Gremlin.NET is also expected to see better performance.

Microsoft.Azure.Graphs uses a different request processing approach which involved more round-trips to the server so it has overhead, in addition to being a number of releases behind what is deployed to the server.

[2018-04-02 22:32] #452 closed

[2018-04-02 22:41] olivertowers commented on #438
These issues should now be resolved for the CosmosDB Gremlin server (via Gremlin.NET or other gremlin driver client).

As per my reply above, there are some cases that will still not round trip.

[2018-04-02 22:41] #438 closed

[2018-04-02 22:55] olivertowers commented on #426
Bug has been fixed for CosmosDB Gremlin Server.
Closing the issue.

[2018-04-02 22:55] #426 closed

[2018-04-02 22:57] olivertowers commented on #405
Sorry for the lengthy delay with replying to this.

This bug has been fixed for CosmosDB Gremlin Server. Microsoft.Azure.Graphs is being discontinued so please use Gremlin.NET or another gremlin client driver to connect to your '***.gremlin.cosmosdb.azure.com' endpoint.

[2018-04-02 22:57] #405 closed

[2018-04-02 22:59] olivertowers commented on #396
Bug is fixed on on the service, closing the issue.

[2018-04-02 22:59] #396 closed

[2018-04-03 02:09] ausfeldt commented on #202
@jackbond Here are the packages that will gracefully fallback if the native assemblies are not found.
 [Microsoft.Azure.DocumentDB.1.21.1.nupkg](https://github.com/Azure/azure-documentdb-dotnet/raw/DevTestPackages/DevTestPackages/Microsoft.Azure.DocumentDB.1.21.1.nupkg) and [Microsoft.Azure.DocumentDB.Core.1.9.1.nupkg](https://github.com/Azure/azure-documentdb-dotnet/raw/DevTestPackages/DevTestPac

[2018-04-03 14:03] dmcweeney opened #467 "Order by used for filtering?"
Hi,

I've a linq query as follows:

[code]
which correctly generates the following sql:

[code]

The property stepsComplete (nullable int) is a recent addition to MyDoc.

The affect of the above OrderBy or OrderByDescending is that ONLY documents that contain the stepsComplete property are returned.
I would have expected that all documents that match the filter clause would be returned, and the va

[2018-04-03 22:34] helloasync opened #468 "[Feature] Add CancellationToken support to async methods"
Currently, we are unable to pass in a cancellation token in order to "cancel" the request and free up underlying resources. We would like to have cancellation tokens added to the existing async methods to help us efficiently and cooperatively bail out of long running requests.

Thanks!

[2018-04-04 04:12] RonPeters commented on #457
Any progress on this issue?

[2018-04-04 07:32] thomaslevesque opened #469 "Unable to create user permission for database"
I'm trying to add a permission for a user with the following code:
[code]

(The database and the user already exist)

This code fails with the following exception:

I'm not sure where the `\` is coming from (it wasn't there in the `dbUri` variable); could it be the cause of the problem?

If not, how am I supposed to create a user permission for the database?

[2018-04-04 07:51] thomaslevesque commented on #469
I looked at the request with Fiddler; the `\` isn't in the request, so it's probably not the issue.

[code]

[code]

[2018-04-04 08:08] thomaslevesque commented on #469
OK, apparently I can't give permission to a user for the whole database... I have to do it separately for each collection individually. Which means I need to use a different resource key for each collection. Or am I missing something?

(Note that I tried passing a wildcard (`/dbs/ToDoList/colls/*`) as the resource, and it was accepted, but didn't actually give me permission to access anything)

[2018-04-04 18:04] ElasticCoder commented on #284
I've repeated the tests again today, this time running the emulator in a VM and the client on the host laptop.

### ServicePointManager doesn't work in .NET Core
The code below works if you compile as a normal .NET Console app, but fails if you compile it as a .NET Core app.  The `ServicePointManager` callback is not called and SSL verification fails. `ServicePointManager` does not work for .NET c

[2018-04-04 19:24] jackbond commented on #202
@ausfeldt Thanks Garrett. I managed to resolve this issue a while back by simply adding the DocDb nuget to all my executable projects, but still receive notifications on this issue. I'll be happy when the native stuff is gone entirely, as they seem to make little sense for this sort of project.

[2018-04-05 00:10] thomaslevesque commented on #469
@Mike-Ubezzi-MSFT thanks, I saw this page already. But it didn't say clearly on what kind of resource I could create a permission. I tried to create it on the database, and it didn't work, but the error message I received wasn't helpful at all to help me understand the problem.

Anyway, I solved my problem, although the Cosmos DB permission system isn't what I hoped it would be...

[2018-04-05 00:10] #469 closed

[2018-04-05 00:34] kirankumarkolli commented on #284
.NET standard doesn’t have a reliable SSL validation callback (it has issues on non-windows environments and documented at [https://github.com/dotnet/corefx/issues/19718](url) ).
HTTP managed handler (SocketsHttpHandler) has the ability to address this gap and is still in development (Preview .NET standard 2.1 [https://blogs.msdn.microsoft.com/dotnet/2018/02/27/announcing-net-core-2-1-preview-1/](

[2018-04-05 07:14] ElasticCoder commented on #284
Gotcha! I didn't realise that `HttpClientHandler.ServerCertificateCustomValidationCallback` had problems too! Then I guess we await .NET Core 2.1. Thanks!

[2018-04-05 18:09] Frankwayne commented on #353
did you try the following command in the troubleshooting guide ?

If you experience crashes in CosmosDB.StartupEntryPoint.exe, run the following command from an admin command prompt: lodctr /R

[2018-04-05 18:11] Frankwayne opened #470 "CosmosDB Emulator wont start"
Not sure where to post this issue.  I have another ticket opened at  https://github.com/MicrosoftDocs/azure-docs/issues/6788

I cant seem to start the Cosmos DB Emulator. I have windows 10 and it appears to install fine, but when I click to start it up I see the tray icon appear and then it disappears before I can click on it. The localhost landing page "https://localhost:8081/_explorer/index.html

[2018-04-06 05:07] Yaming-Liu1978 opened #471 "Azure Cosmos DB Emulator cannot be installed on AD domain controller machine"
The Azure Cosmos DB Enumerator is working well when running on regular computers, but when I tried to install in on one domain controller machine, I got following error:

Application: DocumentDB.StartupEntryPoint.exe
Framework Version: v4.0.30319
Description: The process was terminated due to an unhandled exception.
Exception Info: System.Security.Principal.IdentityNotMappedException
   at System.

[2018-04-06 23:03] thomaslevesque opened #472 "Passing a list of permissions to the DocumentClient constructor doesn't work, but passing a single resource token does"
I have a database with a collection that is partitioned, and each user can only access one partition. I create the users and permissions like this:

[code]

If I create a `DocumentClient` for a user by passing the list of permissions like this:

[code]
Then querying the collection fails with this error:

But I know that it's not true; the list of permissions I passed to the `DocumentClient` constr

[2018-04-06 23:10] thomaslevesque commented on #472
I changed my code to use `ReadDocumentFeedAsync`, and I'm getting the same error.

Why doesn't `DocumentClient` find the appropriate token when it's clearly there?

[2018-04-08 09:33] RonPeters commented on #457
I've added more unit tests to my project that exercise Cosmos DB more, and now this problem happens even on the local emulator. I also tried every combination of Direct/Gateway and Tcp/Https, to no avail.

Microsoft.Azure.DocumentDB.Core 1.9.1 is obviously not ready for production use. This is really annoying. I guess I'll have to step back to previous versions and try to find one that actually wo

[2018-04-08 09:48] RonPeters commented on #457
My current findings indicate that version 1.7.1 works, and versions >= 1.8.1 do not work. I'll be using 1.7.1 until this problem is fixed. Hopefully there are no blocking issues for me in that older release.

[2018-04-08 12:36] paulinventome commented on #344
Is there any way to use TableAPI in Cosmo from a dot net core application at the moment,  going through the older Windows.Storage libraries? I'm working on a large ish project and if i can't get table support then it will be AWS or similar instead.

[2018-04-08 23:12] bchong95 commented on #374
I will close the issue for now. Please look out for future SDK releases with more geospatial support.

Please reopen if needed.

[2018-04-08 23:12] #374 closed

[2018-04-09 08:07] paulhickman-a365 commented on #454
Is there a means to extract the sql query that would be executed for the count query from the DocumentQuery object?

[2018-04-10 09:55] BenjaBobs opened #473 "[Graph] String filters"
Great job with the api so far.
While not an offical gremlin spec feature, I think string filters would be very useful.
It was discussed a bit in #413 to stay on topic I created this issue to track string filters.

A few other graph database providers has implemented some form of string filtering:
* [DSE Graph](https://docs.datastax.com/en/datastax_enterprise/5.0/datastax_enterprise/graph/using/use

[2018-04-11 05:26] David-Noble-at-work commented on #470
Please be sure that you've downloaded and installed the latest version of the Emulator from [here](https://aka.ms/cosmosdb-emulator). If you send an e-mail to askcosmosdb@microsoft.com I'll work with you directly.

Thanks.

[2018-04-11 06:15] LoulG commented on #451
@aarondandy Did you have it work ? I didn't find a solution yet...

[2018-04-11 13:07] Frankwayne commented on #470
@David-Noble-at-work    Thanks David, I have uninstalled and installed that download link version 1.21.0.0  and I am still having the same issue.  I have sent off an email with the details of my issue  from the following issue case.

https://github.com/MicrosoftDocs/azure-docs/issues/6788

[2018-04-12 00:03] mayerc-MSFT opened #476 "Cannot query data after it's written to Table"
I get the following exception (see below) when I query my table after writing a couple rows to it.

1. Start with a blank table
2. Query -- no results come back, as expected.
3. Insert rows
4. Query again. **Fail.**

I insert rows with
[code]

and query with
[code]
code fails at await table.ExecuteQuerySegmentedAsync

[code]

Packages
[code]

[2018-04-12 11:58] slnksachin opened #477 "Select query not working when trying to query lazily using DocumentQuery"
Any idea, if select method is going to be supported any time soon

[code]

[2018-04-12 12:11] slnksachin commented on #477
And also It would be great help, if someone can please help me out in finding out what all quering methods can be used with DocumentQuery

[2018-04-13 17:29] eedeleon commented on #185
I am still having these issues. When I try to set the port I have to set many other parameters. Is there any solution or is this a known issue that needs to be circumvented? I do not have CosmosDB Emulator as a running process to Reset Data. Yet it still exists at port 8081.

[2018-04-13 17:44] eedeleon commented on #185
The emulator was in a bad state. My solution was to find and kill the process with :
https://stackoverflow.com/questions/39632667/how-to-kill-a-currently-using-port-on-localhost-in-windows?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa

[2018-04-13 22:49] David-Noble-at-work commented on #451
@aarondandy Hi there,
It looks like you may have hit a known issue: an incompatibility that we've got with certain network filters. This is indicated by the error messages you site:
[code]

The error (HRESULT -2147014851 ⇒ 0x8007273D ⇒ WSAEOPNOTSUPP) is related to our use of the Registered I/O Networking extensions (RIO). These error messages originate in our AcceptLoop.

It's on our roadmap to re

[2018-04-14 05:09] RonPeters commented on #457
Now, I've upgraded a production .NET 4.7 project to Microsoft.Azure.DocumentDB to v1.21.1 and now I get the same problem. I have had to downgrade back to Microsoft.Azure.DocumentDB to v1.19.1 to keep the tests from failing.

[2018-04-14 05:50] LoulG commented on #451
On a Surface Book 2, Windows 10 1709 (16299.309), CosmosDb emulator works fine. Here are the network filters:

- ms_bridge
- ms_wfplwf_lower
- ms_netbios
- ms_server
- vms_vsf
- ms_vwifi
- ms_pacer
- ms_wfplwf_upper
- ms_nativewifip
- ms_wfplwf_vswitch
- ms_vfpext
- ms_ndiscap

On monday, I will post the list from the machine on which is emulator is not working

[2018-04-16 09:32] LoulG commented on #451
Here is the list of the network filters for the machine on which the emulator does not work (same windows version as the one on which it works: Windows 10 1709 (16299.309)
- ms_bridge
- ms_wfplwf_lower
- ms_netbios
- ms_server
- vms_vsf
- ms_vwifi
- ms_pacer
- ms_wfplwf_upper
- ms_nativewidip
- ms_wfplwf_vswitch
- ms_vfpext
- ms_ndiscap

[2018-04-16 10:05] slnksachin commented on #477
@reddy6ue Sorry, man but it doesn't help much, it says
![image](https://user-images.githubusercontent.com/1255121/38803020-921476f4-418b-11e8-9569-b2edc0083938.png)
These all linq operators are working and I am not able to use select query as you can see here
[code]

[2018-04-16 10:31] dominikfoldi commented on #457
Confirmed that .NET Core packages above 1.7.1 are not working with the local emulator. I do not tested it in production yet.
I tested it with a bunch of unit tests that are re-creating the same collection before every test case.

Please prioritize to the top this issue.

[2018-04-16 13:05] joeizy commented on #174
I understand that in .NET the SDK uses the URI and the KEY for connection but the [CosmosDBTrigger](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-cosmosdb#trigger---configuration) for Azure Functions uses a **connection string**. It would be much better to include a connection string as part of the ARM template than to have to run an additional script.

Notification Hub

[2018-04-16 17:14] josiahdj commented on #400
@mlankamp Worked for me, thanks!

[2018-04-16 19:46] David-Noble-at-work commented on #451
No, I'm not seeing any suspicious entries in the list of filters you've provided. Are you up for a Skype call? If so, please send e-mail to askcosmosdb@microsoft.com and I will pick it up.

Thanks.

[2018-04-16 20:32] aarondandy commented on #451
I do have multiple VPNs, we can go over them if you would like in a call.

[2018-04-16 23:55] Vivihung opened #478 "Is "Resource Not Found" error expected when query multiple documents via ReadDocumentAsync?"
Hi all,

I got "Resource Not Found" error when using ReadDocumentAsync with given partition key.
In my CosmosDB, there are multiple documents under a partition key.
Based on the function name, I guess I might misuse ReadDocumentAsync(). It seems a method only returns ONE document.

However, here comes my questions:
1. Is "Resource Not Found" error expected when I trying to get a list of document f

[2018-04-17 18:18] vivekr20 commented on #476
(+@ausfeldt who can follow-up with more context if needed)

Hi @mayerc-MSFT,

We're suspecting that tenantId is a guid, and that you've got the wrong overload of GenerateFilterCondition, which is messing up the Odata converter.

If it is indeed a guid. Can you please use GenerateFilterConditionForGuid instead and try?

Thanks,

[2018-04-18 17:29] WillRock19 opened #479 "One or more errors occurred. (Unable to load DLL 'Microsoft.Azure.Documents.ServiceInterop.dll': The specified module could not be found. (Exception from HRESULT: 0x8007007E))"
I am using a Azure Function that calls a class library where I've put my documentDB call and specific methods. The class library is a:

1 .NET Standar 2.0;
2. Using Microsoft.Azure.DocumentDB.Core (1.9.1)

When I try to create a table or a collection, everything works. But When I try to create a query (as it follows), it generate the exception. What should I do? I've look into the web for some sol

[2018-04-18 21:14] davidhjones commented on #457
I can also confirm I am seeing the issue on version 1.9.1 -- this seems to happen when I'm making a lot of calling into my API, which results in concurrent executions into document db; Also, I can confirm that downgrading to 1.7.1 resolves the issue. This is regards to the documentdb-netcore-sdk

[2018-04-19 22:58] ausfeldt commented on #476
Issue is caused by setting the TypeNameHandling in the JsonSerializerSettings. Removing it will fix it.

public static readonly JsonSerializerSettings SerializerSettings = new JsonSerializerSettings
        {
            DateTimeZoneHandling = DateTimeZoneHandling.Utc,
            Converters = new List<JsonConverter> {
                // The order matters, it's important to register the dictionary

[2018-04-19 22:58] #476 closed

[2018-04-20 12:57] sonicmouse commented on #457
I am seeing this a lot now -- Using direct TCP mode, especially when calling `CreateDocumentCollectionIfNotExistsAsync()` then querying with `CreateDocumentQuery()`. Using latest 1.10 of Microsoft.Azure.DocumentDB.Core

[2018-04-20 13:51] davidhjones commented on #457
@arramac @ryancrawcour can we get some insight here -- maybe some information about what caused this regression or what we can do to prevent this exception? Furthermore, is this on the radar of the team?

[2018-04-20 18:57] RonPeters commented on #457
I can confirm that the problem is still present in both:
Microsoft.Azure.DocumentDB.Core 1.10.1
Microsoft.Azure.DocumentDB v1.22.0

[2018-04-20 23:06] jackbond commented on #479
Welcome to hell. Supposedly this issue was fixed in the 1.9.1 Nuget, guess not.

https://github.com/Azure/azure-documentdb-dotnet/issues/202

[2018-04-21 03:51] lambdakris opened #483 "New Error in F# Interactive since 1.10.0 - Could not load file or assembly 'Microsoft.Azure.DocumentDB.Core, Version=1.10.0.0...' or one of its dependencies. Strong name validation failed"
Since upgrading to Microsoft.Azure.DocumentDB.Core version 1.10.0, I keep getting the following error message whenever I try to send any code that interacts with the API to FSI:

[code]

To reproduce, create an .NET Core F# Console project, add the Microsoft.Azure.DocumentDB.Core package, create a script file, add a reference to the Microsoft.Azure.DocumentDB.Core.dll, open the Microsoft.Azure.Doc

[2018-04-22 20:59] thomaslevesque commented on #472
Hello? Is anyone following this repo?

[2018-04-23 09:55] plillevold commented on #243
This is implemented, at least in the latest (1.22) version of the client. One can now specify FeedOptions.ConsistencyLevel.

[2018-04-23 10:39] abrasat commented on #399
Same problem here (Xamarin.Forms iOS project referencing NetStandard 2.0 class library).
Updated Microsoft.Azure.DocumentDB.Core to latest 1.10.0 version, but problem persists:

C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\MSBuild\Xamarin\iOS\Xamarin.iOS.Common.targets(786,3): error :  Error while loading assemblies: /Users/***/Library/Caches/Xamarin/mtbs/builds/MyApp.iOS/***/b

[2018-04-23 14:43] Jacob-McKay opened #484 "How can I limit the number of connections in direct, TCP mode?"
In several instances now I've seen that while using the Cosmos DB Document .NET client with the connection settings recommended for maximum perfomance (Direct connection mode, TCP connection protocol https://docs.microsoft.com/en-us/azure/cosmos-db/performance-tips#networking) that we end up with socket exhaustion in our deployed systems.

My team has Azure Functions on a consumption plan that sca

[2018-04-23 18:29] kirankumarkolli commented on #483
@ausfeldt please look into this.

[2018-04-23 18:31] kirankumarkolli commented on #479
@ausfeldt please look into this.

[2018-04-23 20:45] ovplaton-msft commented on #484
Hi! Sorry to hear you're running into this limitation.

If avoiding direct/TCP connectivity for a while is acceptable, then gateway mode might avoid this problem without a substantial performance hit. You might need to configure [ConnectionPolicy.MaxConnectionLimit](https://docs.microsoft.com/en-us/azure/cosmos-db/performance-tips#sdk-usage) explicitly to allow a higher degree of parallelism. Dire

[2018-04-23 20:52] Jacob-McKay commented on #484
Thanks for the response, glad to hear you're working in that area!  I'm sharing this info with my team.  We suspected we could limit the number of connections if using Direct/HTTPS and configuring System.Net.ServicePointManager.  I like the idea of just using Gateway for now and using the more transparent ConnectionPolicy.MaxConnectionLimit to make sure we don't go over our connection limit in our

[2018-04-23 21:41] kirankumarkolli commented on #478
ReadDocumentAsync is to read one single document which can be uniquely identified by (partitionkey, id).

Based on issues text am assuming the ask is to "query more than one document", in that specific case query API's (CreateDocumentQuery etc...) are the right one.

Above error message is stating that documents are not indexed and needs scan (which is deined by-default). This can be overwritten t

[2018-04-23 21:45] kirankumarkolli commented on #472
@thomaslevesque what are the expectation of query with a partition key limiter? Do you expect the query to filter based on partition key if so could you please try adding it as explicit filter in the query.

[2018-04-24 01:27] ausfeldt commented on #479
@WillRock19 A fix for this is in code review. The package is missing the targets to copy the native assemblies to the output directory.

What is in the missing Microsoft.Azure.Documents.Client.targets file
[code]
 Here is a package that has the targets and will also gracefully fallback if the native assemblies are not found. [Microsoft.Azure.DocumentDB.Core.1.9.1.nupkg](https://github.com/Azure/az

[2018-04-24 07:48] jackbond commented on #479
@ausfeldt Your response is confusing. You say a fix is in code review, but 1.9.1 should fail gracefully, but he's using 1.9.1???

[2018-04-24 08:05] thomaslevesque commented on #472
Yes, I expect it to filter the query based on the partition key (which works, if I pass a single resource token to the `DocumentClient` constructor). I tried to add an explicit filter on the partition key in the query, it doesn't change anything.

In short:
- using the `DocumentClient(Uri serviceEndpoint, string authKeyOrResourceToken)` constructor (with a resource token as the `authKeyOrResourceT

[2018-04-24 08:34] slnksachin commented on #477
Also when Skip and Take will be supported ?

[2018-04-24 22:09] kirankumarkolli commented on #472
@thomaslevesque am assuming that you are unblocked on the query part with an explicit token.

On list of permissions issue: Are there any overlapping permissions (Same Resource with read/write permissions) which can cause conflict?

[2018-04-24 22:10] kirankumarkolli commented on #243
1.22 has the required fix.

[2018-04-25 07:47] thomaslevesque commented on #472
Well, in my current scenario I only need one token, so I'm not blocked, but it might change in the future.

No, the list contains a single permission.

[2018-04-25 09:41] ayngling commented on #348
I'd like to second the post about stored procedures. If instead of throwing a string I throw an object (to include an error code) I just get {"Errors": ["Encountered exception while executing function. Exception = Error" Exception = [object Object]... Being able to at least get the contents of what was thrown (be is it a string or an object) from the DocumentClientException would be useful.

[2018-04-25 12:43] wpitallo opened #487 "Cannot execute stored procedures using emulator"
Cannot execute stored procedures using emulator

[2018-04-25 13:50] sbosell opened #488 "Action/Func/Hook on Each Call to custom process headers or specifically when a request is throttled"
Can you provide a way for us to hook into the responses to be able to evaluate the response headers for both custom logging and/or being able to provide some custom scaling algorithms.   I assume the document client could have a public property or constructor overload like this to generically process the headers:

[code]

[2018-04-25 17:53] moderakh commented on #487
@wpitallo can you please provide more explanation. Are you getting failure? what's your sample repro code? emulator, sdk version, etc.

[2018-04-25 18:32] David-Noble-at-work commented on #487
@wpitallo,

I'm assuming that as you said on another thread that what you're talking about is adding a new feature to the Emulator's Web UI:

- Execute stored procedures from the Web UI

Is that the case? This is a feature that we just added to our backlog and expect to release it soon.

[2018-04-25 19:57] RonPeters commented on #457
@kirankumarkolli @arramac @ryancrawcour  It's been over a month since I reported this issue. You have shipped a couple of new packages that still exhibit the problem. You're basically wasting your time releasing them because anyone who puts this code into production is in for a world of hurt.

I think I can speak for the all of us on this issue when I say we are ready and willing to help you test

[2018-04-25 20:06] arramac commented on #457
@RonPeters can you please email me at arramac@microsoft.com? We'll debug and fix this asap. We were under the impression this is resolved, but we may have only addressed a similar but different bug.

[2018-04-26 07:49] LoulG commented on #451
Any feedback ?
@David-Noble-at-work do you need another skype call to cross verify ?

[2018-04-26 12:49] logmani opened #489 "Error while loading assemblies DocumentDB.Spatial.Sql.dll"
I am getting this error when making the iOS project as the default project

[2018-04-26 14:59] thomaslevesque commented on #463
I'm seeing exactly the same error (with Microsoft.Azure.DocumentDB.Core, version 1.9.1). Running on netcoreapp2.0.

That's not the problem. The account key is fine, since most queries work; as the OP said, the error is transient.

In my case I'm using resource tokens; I don't know if it's related.

[2018-04-26 15:51] thomaslevesque commented on #463
Some additional information:
- I can't reproduce the issue locally (whether in release or debug, with the debugger attached or not); it only happens when the app is deployed in Azure.
- it happens much more frequently when I make several requests in parallel
- there's often a long delay before the exception is thrown; most requests are fast, but the ones that fail are very slow.

[2018-04-26 21:30] jabberwik commented on #483
I am also receiving this error, in a different context. I have a net462 / win7-x64 C# console project, which references a netstandard2.0 class library, which references Microsoft.Azure.DocumentDB.Core version 1.10.0.
[code]

[2018-04-27 01:44] ausfeldt commented on #483
The assembly for some reason was delayed-signed and was not signed with a strong name. Please use 1.9.1 for now. Thanks.

[2018-04-27 12:01] burikella commented on #391
@Raghu-Gurrala, yes, I'm using json. Each edge stored as separate document. It looks like following:
`{"label":"HAS","id":"{new-guid}","_sink":"{target-vertex-id}","_sinkLabel":"{target-vertex-label}","_vertexId":"{source-vertex-id}","_vertexLabel":"{source-vertex-label}","_isEdge":true}`

[2018-04-27 12:32] Geetarman opened #490 "FeedResponse.AsEnurable().Take not returning specified number of results"
using the following form of query

SELECT * FROM c WHERE (CONTAINS(c.Source, "FunctionLog") AND (c.ObjectType = "System.FunctionStatus")) ORDER BY c._ts DESC

and using the following code

       _public FeedOptions FeedOptions { get; set; }
        public FeedResponse<T> FeedResponse = null;
        private IDocumentQuery<T> DocumentQuery = null;_

... in method
            FeedResponse = await D

[2018-04-27 14:28] mcharters commented on #391
Has anyone successfully bulk inserted graph JSON with partition keys? I was able to upload edges and vertices through the bulk insert tool but things broke down when I tried to add partitioning into the mix.

[2018-04-27 20:09] MarcBrad commented on #50
For anyone sill having problems with this.
[(https://stackoverflow.com/questions/47496158/the-type-or-namespace-name-azure-does-not-exist-in-the-namespace-microsoft)]

[2018-04-30 00:35] aboo commented on #344
Can I get a rain check on this please?

[2018-04-30 11:18] davidgruar opened #492 "Incorrect semantics translating Nullable<T>.HasValue"
The following queries would be interchangeable in LINQ-to-objects, but against Cosmos DB they generate different SQL and yield different results.

[code]

`Nullable<T>.HasValue` should translate to SQL as `!= null` to be consistent with .NET semantics. If you need to check if a property is defined, that is what the `.IsDefined()` extension method is for.

[2018-05-01 12:56] YouNeedTea commented on #472
Seems like it has to do with how the library selects the token to use. When you're using the user-friendly names for db/collection you'll run into problems, but when using the db/collection IDs you'll be fine.
I ran into the same issue, and managed to work around it by using:
_documentClient.CreateDocumentQuery(UriFactory.CreateDocumentCollectionUri("T8MYAA==", "T8MYAIBacAA="));
instead of
_docume

[2018-05-01 14:11] BenjaBobs commented on #473
@olivertowers Any news on this? Alternatively I'm looking at doing my own string indexing and seeing if I can work out a naive contains filter myself using Gremlin, or maybe saving everything on Azure Search as well, but I'd rather not because that would mean increased overhead.

[2018-05-01 16:07] kirankumarkolli commented on #344
Azure Cosmos table API is REST protocol compliant with Azure table storage. .NET standard Widnows storage SDK can be leveraged as an alternative.

[2018-05-01 16:11] thomaslevesque commented on #472
@YouNeedTea are you saying I should use the collection's `SelfLink`? It doesn't seem to work for me.

@kirankumarkolli, how does `DocumentClient` select the proper token?

[2018-05-01 22:52] SeanFeldman commented on #344
@kirankumarkolli while it's true that the API is a REST protocol at heart, when working with .NET stack, you want to use a .NET SDK client rather than REST API.

You can prepare pizza dough, all the ingredients, and bake the pizza at home. Or can go to the restaurant. Relating to the metaphore, I guess we're paying by waiting @aboo 🙂